In [93]:
import os
import io
import csv
import pandas as pd
import numpy as np
from tabulate import tabulate
import logging
logging.getLogger().setLevel(logging.INFO)

import psycopg2
conn = psycopg2.connect(user='airflow', password='Xypherium-0',
                        dbname='jpstat',
                        host='35.224.240.50')

In [2]:
pd.set_option('display.max_colwidth', -1)
pd.set_option('display.max_rows', None, 'display.max_columns', None)

In [3]:
path = os.path.join('extracts', 'monthly_reports')

In [ ]:
def get_directory_structure(rootdir):
    """
    Creates a nested dictionary that represents the folder structure of rootdir
    """
    dir = {}
    rootdir = rootdir.rstrip(os.sep)
    start = rootdir.rfind(os.sep) + 1
    for path, dirs, files in os.walk(rootdir):
        folders = path[start:].split(os.sep)
        subdir = dict.fromkeys(files)
        parent = reduce(dict.get, folders[:-1], dir)
        parent[folders[-1]] = subdir
    return dir

In [5]:
filepathlist = []
for dirpath, subdir, files in os.walk(path):
    for filename in files:
        if filename.endswith('.xls'):
            filepathlist.append(os.path.join(dirpath, filename))

In [97]:
%%time
tableshape_list = []
df_dict = {}
for filepath in filepathlist:
    sheets = pd.ExcelFile(filepath).sheet_names
    
    df = pd.read_excel(filepath, sheet_name=len(sheets)-1)
    filepath_list = filepath.split('\\')
    description = [filepath_list[2] + '-' + filepath_list[3], filepath_list[4], df.shape]
    
    if len(sheets) > 1:
        print(filepath_list[2] + '-' + filepath_list[3] + ' ' + filepath_list[4] + ' has ' + str(len(sheets)) + ' sheets.')
    
    tableshape_list.append(description)

2013-07Jul 1.xls has 2 sheets.
2013-07Jul 3-3.xls has 2 sheets.
2013-08Aug 1.xls has 2 sheets.
2013-08Aug 3-3.xls has 2 sheets.
2013-09Sep 1.xls has 2 sheets.
2013-09Sep 3-3.xls has 2 sheets.
2013-10Oct 1.xls has 2 sheets.
2013-10Oct 3-3.xls has 2 sheets.
2013-11Nov 1.xls has 2 sheets.
2013-11Nov 3-3.xls has 2 sheets.
2013-12Dec 1.xls has 2 sheets.
2013-12Dec 3-3.xls has 2 sheets.
2014-01Jan 1.xls has 2 sheets.
2014-01Jan 3-3.xls has 2 sheets.
2014-02Feb 1.xls has 2 sheets.
2014-02Feb 3-3.xls has 2 sheets.
2014-03Mar 1.xls has 2 sheets.
2014-03Mar 3-3.xls has 2 sheets.
2014-04Apr 1.xls has 2 sheets.
2014-04Apr 3-3.xls has 2 sheets.
2014-05May 1.xls has 2 sheets.
2014-05May 3-3.xls has 2 sheets.
2014-06Jun 1.xls has 2 sheets.
2014-06Jun 3-3.xls has 2 sheets.
2014-07Jul 1.xls has 2 sheets.
2014-07Jul 3-3.xls has 2 sheets.
2014-08Aug 1.xls has 2 sheets.
2014-08Aug 3-3.xls has 2 sheets.
2014-09Sep 1.xls has 2 sheets.
2014-09Sep 3-3.xls has 2 sheets.
2014-10Oct 1.xls has 2 sheets.
2014-10Oct 3-3.xls has 2 sheets.
2014-11Nov 1.xls has 2 sheets.
2014-11Nov 3-3.xls has 2 sheets.
2014-12Dec 1.xls has 2 sheets.
2014-12Dec 3-3.xls has 2 sheets.
2015-01Jan 1.xls has 2 sheets.
2015-01Jan 3-3.xls has 2 sheets.
2015-02Feb 1.xls has 2 sheets.
2015-02Feb 3-3.xls has 2 sheets.
2015-03Mar 1.xls has 2 sheets.
2015-03Mar 3-3.xls has 2 sheets.
2015-04Apr 1.xls has 2 sheets.
2015-04Apr 3-3.xls has 2 sheets.
2015-05May 1.xls has 2 sheets.
2015-05May 3-3.xls has 2 sheets.
2015-06Jun 1.xls has 2 sheets.
2015-06Jun 3-3.xls has 2 sheets.
2015-07Jul 1.xls has 2 sheets.
2015-07Jul 3-3.xls has 2 sheets.
2015-08Aug 1.xls has 2 sheets.
2015-08Aug 3-3.xls has 2 sheets.
2015-09Sep 1.xls has 2 sheets.
2015-09Sep 3-3.xls has 2 sheets.
2015-10Oct 1.xls has 2 sheets.
2015-10Oct 3-3.xls has 2 sheets.
2015-11Nov 1.xls has 2 sheets.
2015-11Nov 3-3.xls has 2 sheets.
2015-12Dec 1.xls has 2 sheets.
2015-12Dec 3-3.xls has 2 sheets.
2016-01Jan 1.xls has 2 sheets.
2016-01Jan 3-3.xls has 2 sheets.
2016-02Feb 1.xls has 2 sheets.
2016-02Feb 3-3.xls has 2 sheets.
2016-03Mar 1.xls has 2 sheets.
2016-03Mar 3-3.xls has 2 sheets.
2016-04Apr 1.xls has 2 sheets.
2016-04Apr 3-3.xls has 2 sheets.
2016-05May 1.xls has 2 sheets.
2016-05May 3-3.xls has 2 sheets.
2016-06Jun 1.xls has 2 sheets.
2016-06Jun 3-3.xls has 2 sheets.
2016-07Jul 1.xls has 2 sheets.
2016-07Jul 3-3.xls has 2 sheets.
2016-08Aug 1.xls has 2 sheets.
2016-08Aug 3-3.xls has 2 sheets.
2016-09Sep 1.xls has 2 sheets.
2016-09Sep 3-3.xls has 2 sheets.
2016-10Oct 1.xls has 2 sheets.
2016-10Oct 3-3.xls has 2 sheets.
2016-11Nov 1.xls has 2 sheets.
2016-11Nov 3-3.xls has 2 sheets.
2016-12Dec 1.xls has 2 sheets.
2016-12Dec 3-3.xls has 2 sheets.
2017-01Jan 1.xls has 2 sheets.
2017-01Jan 3-3.xls has 2 sheets.
2017-02Feb 1.xls has 2 sheets.
2017-02Feb 3-3.xls has 2 sheets.
2017-03Mar 1.xls has 2 sheets.
2017-03Mar 3-3.xls has 2 sheets.
2017-04Apr 1.xls has 2 sheets.
2017-04Apr 3-3.xls has 2 sheets.
2017-05May 1.xls has 2 sheets.
2017-05May 3-3.xls has 2 sheets.
2017-06Jun 1.xls has 2 sheets.
2017-06Jun 3-3.xls has 2 sheets.
2017-07Jul 1.xls has 2 sheets.
2017-07Jul 3-3.xls has 2 sheets.
2017-08Aug 1.xls has 2 sheets.
2017-08Aug 3-3.xls has 2 sheets.
2017-09Sep 1.xls has 2 sheets.
2017-09Sep 3-3.xls has 2 sheets.
2017-10Oct 1.xls has 2 sheets.
2017-10Oct 3-3.xls has 2 sheets.
2017-11Nov 1.xls has 2 sheets.
2017-11Nov 3-3.xls has 2 sheets.
2017-12Dec 1.xls has 2 sheets.
2017-12Dec 3-3.xls has 2 sheets.
2018-01Jan 1.xls has 2 sheets.
2018-01Jan 3-3.xls has 2 sheets.
2018-02Feb 1.xls has 2 sheets.
2018-02Feb 3-3.xls has 2 sheets.
2018-03Mar 1.xls has 2 sheets.
2018-03Mar 3-3.xls has 2 sheets.
2018-04Apr 1.xls has 2 sheets.
2018-04Apr 3-3.xls has 2 sheets.
2018-05May 1.xls has 2 sheets.
2018-05May 3-3.xls has 2 sheets.
2018-06Jun 1.xls has 2 sheets.
2018-06Jun 3-3.xls has 2 sheets.
Wall time: 37.1 s

In [104]:
tableshape_df = pd.DataFrame(tableshape_list, columns=['year-month', 'file', 'shape'])

In [105]:
tableshape_df.info

<bound method DataFrame.info of      year-month     file       shape
0    2006-01Jan  1.xls    (88, 13)
1    2006-01Jan  2.xls    (1285, 12)
2    2006-02Feb  1.xls    (88, 13)
3    2006-02Feb  2.xls    (1285, 12)
4    2006-03Mar  1.xls    (88, 13)
5    2006-03Mar  2.xls    (1285, 12)
6    2006-04Apr  1.xls    (89, 13)
7    2006-04Apr  2.xls    (1365, 12)
8    2006-05May  1.xls    (89, 13)
9    2006-05May  2.xls    (1365, 12)
10   2006-06Jun  1.xls    (89, 13)
11   2006-06Jun  2.xls    (1365, 12)
12   2006-07Jul  1.xls    (89, 13)
13   2006-07Jul  2.xls    (1365, 12)
14   2006-08Aug  1.xls    (89, 13)
15   2006-08Aug  2.xls    (1365, 12)
16   2006-09Sep  1.xls    (89, 13)
17   2006-09Sep  2.xls    (1365, 12)
18   2006-10Oct  1.xls    (86, 18)
19   2006-10Oct  2.xls    (1362, 18)
20   2006-11Nov  1.xls    (86, 18)
21   2006-11Nov  2.xls    (1362, 18)
22   2006-12Dec  1.xls    (86, 18)
23   2006-12Dec  2.xls    (1362, 18)
24   2007-01Jan  1.xls    (86, 18)
25   2007-01Jan  2.xls    (1362, 18)
26   2007-02Feb  1.xls    (86, 18)
27   2007-02Feb  2.xls    (1362, 18)
28   2007-03Mar  1.xls    (86, 18)
29   2007-03Mar  2.xls    (1362, 18)
30   2007-04Apr  1.xls    (88, 18)
31   2007-04Apr  2.xls    (1396, 18)
32   2007-05May  1.xls    (88, 18)
33   2007-05May  2.xls    (1396, 18)
34   2007-06Jun  1.xls    (88, 18)
35   2007-06Jun  2.xls    (1396, 18)
36   2007-07Jul  1.xls    (88, 18)
37   2007-07Jul  2.xls    (1396, 18)
38   2007-08Aug  1.xls    (88, 18)
39   2007-08Aug  2.xls    (1396, 18)
40   2007-09Sep  1.xls    (88, 18)
41   2007-09Sep  2.xls    (1396, 18)
42   2007-10Oct  1.xls    (88, 18)
43   2007-10Oct  2.xls    (1396, 18)
44   2007-11Nov  1.xls    (88, 18)
45   2007-11Nov  2.xls    (1396, 18)
46   2007-12Dec  1.xls    (88, 18)
47   2007-12Dec  2.xls    (1396, 18)
48   2008-01Jan  1.xls    (91, 13)
49   2008-01Jan  2.xls    (1399, 12)
50   2008-02Feb  1.xls    (91, 13)
51   2008-02Feb  2.xls    (1399, 12)
52   2008-03Mar  1.xls    (91, 13)
53   2008-03Mar  2.xls    (1399, 12)
54   2008-04Apr  1.xls    (91, 13)
55   2008-04Apr  2.xls    (1399, 12)
56   2008-05May  1.xls    (91, 13)
57   2008-05May  2.xls    (1399, 12)
58   2008-06Jun  1.xls    (91, 13)
59   2008-06Jun  2.xls    (1399, 12)
60   2008-07Jul  1.xls    (91, 13)
61   2008-07Jul  2.xls    (1399, 12)
62   2008-08Aug  1.xls    (91, 13)
63   2008-08Aug  2.xls    (1399, 12)
64   2008-09Sep  1.xls    (91, 13)
65   2008-09Sep  2.xls    (1399, 12)
66   2008-10Oct  1.xls    (91, 13)
67   2008-10Oct  2.xls    (1399, 12)
68   2008-11Nov  1.xls    (91, 13)
69   2008-11Nov  2.xls    (1399, 12)
70   2008-12Dec  1.xls    (91, 13)
71   2008-12Dec  2.xls    (1399, 12)
72   2009-01Jan  1.xls    (91, 13)
73   2009-01Jan  2.xls    (1399, 12)
74   2009-02Feb  1.xls    (91, 13)
75   2009-02Feb  2.xls    (1399, 12)
76   2009-03Mar  1.xls    (91, 13)
77   2009-03Mar  2.xls    (1399, 12)
78   2009-04Apr  1.xls    (92, 13)
79   2009-04Apr  2.xls    (1416, 12)
80   2009-05May  1.xls    (92, 13)
81   2009-05May  2.xls    (1416, 12)
82   2009-06Jun  1.xls    (92, 13)
83   2009-06Jun  2.xls    (1416, 12)
84   2009-07Jul  1.xls    (92, 13)
85   2009-07Jul  2.xls    (1416, 12)
86   2009-08Aug  1.xls    (92, 13)
87   2009-08Aug  2.xls    (1416, 12)
88   2009-09Sep  1.xls    (92, 13)
89   2009-09Sep  2.xls    (1416, 12)
90   2009-10Oct  1.xls    (92, 13)
91   2009-10Oct  2.xls    (1416, 12)
92   2009-11Nov  1.xls    (92, 13)
93   2009-11Nov  2.xls    (1416, 12)
94   2009-12Dec  1.xls    (92, 13)
95   2009-12Dec  2.xls    (1416, 12)
96   2010-01Jan  1.xls    (91, 13)
97   2010-01Jan  2.xls    (1557, 12)
98   2010-01Jan  3-1.xls  (69, 70)
99   2010-01Jan  3-2.xls  (69, 70)
100  2010-01Jan  3-3.xls  (69, 70)
101  2010-02Feb  1.xls    (91, 13)
102  2010-02Feb  2.xls    (1557, 12)
103  2010-02Feb  3-1.xls  (69, 70)
104  2010-02Feb  3-2.xls  (69, 70)
105  2010-02Feb  3-3.xls  (69, 70)
106  2010-03Mar  1.xls    (91, 13)
107  2010-03Mar  2.xls    (1557, 12)
108  2010-03Mar  3-1.xls  (69, 70)
109  2010-03Mar  3-2.xls  (69, 70)
110  2010-03Mar  3-3.xls  (69, 70)
111  2010-04Apr  1.xls    (92, 13)
112  2010-04Apr  2.xls    (1575, 12)
113  2010-04Apr  3-1.xls  (69, 70)
114  2010-04Apr  3-2.xls  (69, 70)
115  2010-04Apr  3-3.xls  (69, 70)
116  2010-05May  1.xls    (92, 13)
117  2010-05May  2.xls    (1575, 12)
118  2010-05May  3-1.xls  (69, 70)
119  2010-05May  3-2.xls  (69, 70)
120  2010-05May  3-3.xls  (69, 70)
121  2010-06Jun  1.xls    (92, 13)
122  2010-06Jun  2.xls    (1575, 12)
123  2010-06Jun  3-1.xls  (69, 70)
124  2010-06Jun  3-2.xls  (69, 70)
125  2010-06Jun  3-3.xls  (69, 70)
126  2010-07Jul  1.xls    (92, 13)
127  2010-07Jul  2.xls    (1575, 12)
128  2010-07Jul  3-1.xls  (69, 70)
129  2010-07Jul  3-2.xls  (69, 70)
130  2010-07Jul  3-3.xls  (69, 70)
131  2010-08Aug  1.xls    (92, 13)
132  2010-08Aug  2.xls    (1575, 12)
133  2010-08Aug  3-1.xls  (69, 70)
134  2010-08Aug  3-2.xls  (69, 70)
135  2010-08Aug  3-3.xls  (69, 70)
136  2010-09Sep  1.xls    (92, 13)
137  2010-09Sep  2.xls    (1575, 12)
138  2010-09Sep  3-1.xls  (69, 70)
139  2010-09Sep  3-2.xls  (69, 70)
140  2010-09Sep  3-3.xls  (69, 70)
141  2010-10Oct  1.xls    (92, 13)
142  2010-10Oct  2.xls    (1575, 12)
143  2010-10Oct  3-1.xls  (69, 70)
144  2010-10Oct  3-2.xls  (69, 70)
145  2010-10Oct  3-3.xls  (69, 70)
146  2010-11Nov  1.xls    (92, 13)
147  2010-11Nov  2.xls    (1575, 12)
148  2010-11Nov  3-1.xls  (69, 70)
149  2010-11Nov  3-2.xls  (69, 70)
150  2010-11Nov  3-3.xls  (69, 70)
151  2010-12Dec  1.xls    (92, 13)
152  2010-12Dec  2.xls    (1575, 12)
153  2010-12Dec  3-1.xls  (69, 70)
154  2010-12Dec  3-2.xls  (69, 70)
155  2010-12Dec  3-3.xls  (69, 70)
156  2011-01Jan  1.xls    (92, 13)
157  2011-01Jan  2.xls    (1575, 12)
158  2011-01Jan  3-1.xls  (69, 70)
159  2011-01Jan  3-2.xls  (69, 70)
160  2011-01Jan  3-3.xls  (69, 70)
161  2011-02Feb  1.xls    (92, 13)
162  2011-02Feb  2.xls    (1575, 12)
163  2011-02Feb  3-1.xls  (69, 70)
164  2011-02Feb  3-2.xls  (69, 70)
165  2011-02Feb  3-3.xls  (69, 70)
166  2011-03Mar  1.xls    (92, 13)
167  2011-03Mar  2.xls    (1575, 12)
168  2011-03Mar  3-1.xls  (69, 70)
169  2011-03Mar  3-2.xls  (69, 70)
170  2011-03Mar  3-3.xls  (69, 70)
171  2011-04Apr  1.xls    (92, 13)
172  2011-04Apr  2.xls    (1575, 12)
173  2011-04Apr  3-1.xls  (69, 70)
174  2011-04Apr  3-2.xls  (69, 70)
175  2011-04Apr  3-3.xls  (69, 70)
176  2011-05May  1.xls    (92, 13)
177  2011-05May  2.xls    (1575, 12)
178  2011-05May  3-1.xls  (69, 70)
179  2011-05May  3-2.xls  (69, 70)
180  2011-05May  3-3.xls  (69, 70)
181  2011-06Jun  1.xls    (92, 13)
182  2011-06Jun  2.xls    (1575, 12)
183  2011-06Jun  3-1.xls  (69, 70)
184  2011-06Jun  3-2.xls  (69, 70)
185  2011-06Jun  3-3.xls  (69, 70)
186  2011-07Jul  1.xls    (92, 13)
187  2011-07Jul  2.xls    (1575, 12)
188  2011-07Jul  3-1.xls  (69, 70)
189  2011-07Jul  3-2.xls  (69, 70)
190  2011-07Jul  3-3.xls  (69, 70)
191  2011-08Aug  1.xls    (92, 13)
192  2011-08Aug  2.xls    (1575, 12)
193  2011-08Aug  3-1.xls  (69, 70)
194  2011-08Aug  3-2.xls  (69, 70)
195  2011-08Aug  3-3.xls  (69, 70)
196  2011-09Sep  1.xls    (92, 13)
197  2011-09Sep  2.xls    (1575, 12)
198  2011-09Sep  3-1.xls  (69, 70)
199  2011-09Sep  3-2.xls  (69, 70)
200  2011-09Sep  3-3.xls  (69, 70)
201  2011-10Oct  1.xls    (92, 13)
202  2011-10Oct  2.xls    (1575, 12)
203  2011-10Oct  3-1.xls  (69, 70)
204  2011-10Oct  3-2.xls  (69, 70)
205  2011-10Oct  3-3.xls  (69, 70)
206  2011-11Nov  1.xls    (92, 13)
207  2011-11Nov  2.xls    (1575, 12)
208  2011-11Nov  3-1.xls  (69, 70)
209  2011-11Nov  3-2.xls  (69, 70)
210  2011-11Nov  3-3.xls  (69, 70)
211  2011-12Dec  1.xls    (92, 13)
212  2011-12Dec  2.xls    (1575, 12)
213  2011-12Dec  3-1.xls  (69, 70)
214  2011-12Dec  3-2.xls  (69, 70)
215  2011-12Dec  3-3.xls  (69, 70)
216  2012-01Jan  1.xls    (92, 13)
217  2012-01Jan  2.xls    (1575, 12)
218  2012-01Jan  3-1.xls  (69, 70)
219  2012-01Jan  3-2.xls  (69, 70)
220  2012-01Jan  3-3.xls  (69, 70)
221  2012-02Feb  1.xls    (92, 13)
222  2012-02Feb  2.xls    (1575, 12)
223  2012-02Feb  3-1.xls  (69, 70)
224  2012-02Feb  3-2.xls  (69, 70)
225  2012-02Feb  3-3.xls  (69, 70)
226  2012-03Mar  1.xls    (92, 13)
227  2012-03Mar  2.xls    (1575, 12)
228  2012-03Mar  3-1.xls  (69, 70)
229  2012-03Mar  3-2.xls  (69, 70)
230  2012-03Mar  3-3.xls  (69, 70)
231  2012-04Apr  1.xls    (93, 13)
232  2012-04Apr  2.xls    (1681, 12)
233  2012-04Apr  3-1.xls  (69, 70)
234  2012-04Apr  3-2.xls  (69, 70)
235  2012-04Apr  3-3.xls  (69, 70)
236  2012-05May  1.xls    (93, 13)
237  2012-05May  2.xls    (1681, 12)
238  2012-05May  3-1.xls  (69, 70)
239  2012-05May  3-2.xls  (69, 70)
240  2012-05May  3-3.xls  (69, 70)
241  2012-06Jun  1.xls    (93, 13)
242  2012-06Jun  2.xls    (1681, 12)
243  2012-06Jun  3-1.xls  (69, 70)
244  2012-06Jun  3-2.xls  (69, 70)
245  2012-06Jun  3-3.xls  (69, 70)
246  2012-07Jul  1.xls    (93, 13)
247  2012-07Jul  2.xls    (1681, 12)
248  2012-07Jul  3-1.xls  (69, 70)
249  2012-07Jul  3-2.xls  (69, 70)
250  2012-07Jul  3-3.xls  (69, 70)
251  2012-08Aug  1.xls    (93, 13)
252  2012-08Aug  2.xls    (1681, 12)
253  2012-08Aug  3-1.xls  (69, 70)
254  2012-08Aug  3-2.xls  (69, 70)
255  2012-08Aug  3-3.xls  (69, 70)
256  2012-09Sep  1.xls    (93, 13)
257  2012-09Sep  2.xls    (1681, 12)
258  2012-09Sep  3-1.xls  (69, 70)
259  2012-09Sep  3-2.xls  (69, 70)
260  2012-09Sep  3-3.xls  (69, 70)
261  2012-10Oct  1.xls    (93, 13)
262  2012-10Oct  2.xls    (1681, 12)
263  2012-10Oct  3-1.xls  (69, 70)
264  2012-10Oct  3-2.xls  (69, 70)
265  2012-10Oct  3-3.xls  (69, 70)
266  2012-11Nov  1.xls    (93, 13)
267  2012-11Nov  2.xls    (1681, 12)
268  2012-11Nov  3-1.xls  (69, 70)
269  2012-11Nov  3-2.xls  (69, 70)
270  2012-11Nov  3-3.xls  (69, 70)
271  2012-12Dec  1.xls    (93, 13)
272  2012-12Dec  2.xls    (1681, 12)
273  2012-12Dec  3-1.xls  (69, 70)
274  2012-12Dec  3-2.xls  (69, 70)
275  2012-12Dec  3-3.xls  (69, 70)
276  2013-01Jan  1.xls    (93, 13)
277  2013-01Jan  2.xls    (1681, 12)
278  2013-01Jan  3-1.xls  (69, 70)
279  2013-01Jan  3-2.xls  (69, 70)
280  2013-01Jan  3-3.xls  (69, 70)
281  2013-02Feb  1.xls    (93, 13)
282  2013-02Feb  2.xls    (1681, 12)
283  2013-02Feb  3-1.xls  (69, 70)
284  2013-02Feb  3-2.xls  (69, 70)
285  2013-02Feb  3-3.xls  (69, 70)
286  2013-03Mar  1.xls    (93, 13)
287  2013-03Mar  2.xls    (1681, 12)
288  2013-03Mar  3-1.xls  (69, 70)
289  2013-03Mar  3-2.xls  (69, 70)
290  2013-03Mar  3-3.xls  (69, 70)
291  2013-04Apr  1.xls    (93, 13)
292  2013-04Apr  2.xls    (1681, 12)
293  2013-04Apr  3-1.xls  (69, 70)
294  2013-04Apr  3-2.xls  (69, 70)
295  2013-04Apr  3-3.xls  (69, 70)
296  2013-05May  1.xls    (93, 13)
297  2013-05May  2.xls    (1681, 12)
298  2013-05May  3-1.xls  (69, 70)
299  2013-05May  3-2.xls  (69, 70)
300  2013-05May  3-3.xls  (69, 70)
301  2013-06Jun  1.xls    (93, 13)
302  2013-06Jun  2.xls    (1681, 12)
303  2013-06Jun  3-1.xls  (69, 70)
304  2013-06Jun  3-2.xls  (69, 70)
305  2013-06Jun  3-3.xls  (69, 70)
306  2013-07Jul  1.xls    (93, 13)
307  2013-07Jul  2.xls    (1681, 12)
308  2013-07Jul  3-1.xls  (69, 70)
309  2013-07Jul  3-2.xls  (69, 70)
310  2013-07Jul  3-3.xls  (69, 70)
311  2013-08Aug  1.xls    (93, 13)
312  2013-08Aug  2.xls    (1681, 12)
313  2013-08Aug  3-1.xls  (69, 70)
314  2013-08Aug  3-2.xls  (69, 70)
315  2013-08Aug  3-3.xls  (69, 70)
316  2013-09Sep  1.xls    (93, 13)
317  2013-09Sep  2.xls    (1681, 12)
318  2013-09Sep  3-1.xls  (69, 70)
319  2013-09Sep  3-2.xls  (69, 70)
320  2013-09Sep  3-3.xls  (69, 70)
321  2013-10Oct  1.xls    (93, 13)
322  2013-10Oct  2.xls    (1681, 12)
323  2013-10Oct  3-1.xls  (69, 70)
324  2013-10Oct  3-2.xls  (69, 70)
325  2013-10Oct  3-3.xls  (69, 70)
326  2013-11Nov  1.xls    (93, 13)
327  2013-11Nov  2.xls    (1681, 12)
328  2013-11Nov  3-1.xls  (69, 70)
329  2013-11Nov  3-2.xls  (69, 70)
330  2013-11Nov  3-3.xls  (69, 70)
331  2013-12Dec  1.xls    (93, 13)
332  2013-12Dec  2.xls    (1681, 12)
333  2013-12Dec  3-1.xls  (69, 70)
334  2013-12Dec  3-2.xls  (69, 70)
335  2013-12Dec  3-3.xls  (69, 70)
336  2014-01Jan  1.xls    (93, 13)
337  2014-01Jan  2.xls    (1681, 12)
338  2014-01Jan  3-1.xls  (69, 70)
339  2014-01Jan  3-2.xls  (69, 70)
340  2014-01Jan  3-3.xls  (69, 70)
341  2014-02Feb  1.xls    (93, 13)
342  2014-02Feb  2.xls    (1681, 12)
343  2014-02Feb  3-1.xls  (69, 70)
344  2014-02Feb  3-2.xls  (69, 70)
345  2014-02Feb  3-3.xls  (69, 70)
346  2014-03Mar  1.xls    (93, 13)
347  2014-03Mar  2.xls    (1681, 12)
348  2014-03Mar  3-1.xls  (69, 70)
349  2014-03Mar  3-2.xls  (69, 70)
350  2014-03Mar  3-3.xls  (69, 70)
351  2014-04Apr  1.xls    (93, 13)
352  2014-04Apr  2.xls    (1681, 12)
353  2014-04Apr  3-1.xls  (69, 70)
354  2014-04Apr  3-2.xls  (69, 70)
355  2014-04Apr  3-3.xls  (69, 70)
356  2014-05May  1.xls    (93, 13)
357  2014-05May  2.xls    (1681, 12)
358  2014-05May  3-1.xls  (69, 70)
359  2014-05May  3-2.xls  (69, 70)
360  2014-05May  3-3.xls  (69, 70)
361  2014-06Jun  1.xls    (93, 13)
362  2014-06Jun  2.xls    (1681, 12)
363  2014-06Jun  3-1.xls  (69, 70)
364  2014-06Jun  3-2.xls  (69, 70)
365  2014-06Jun  3-3.xls  (69, 70)
366  2014-07Jul  1.xls    (93, 13)
367  2014-07Jul  2.xls    (1681, 12)
368  2014-07Jul  3-1.xls  (69, 70)
369  2014-07Jul  3-2.xls  (69, 70)
370  2014-07Jul  3-3.xls  (69, 70)
371  2014-08Aug  1.xls    (93, 13)
372  2014-08Aug  2.xls    (1681, 12)
373  2014-08Aug  3-1.xls  (69, 70)
374  2014-08Aug  3-2.xls  (69, 70)
375  2014-08Aug  3-3.xls  (69, 70)
376  2014-09Sep  1.xls    (93, 13)
377  2014-09Sep  2.xls    (1681, 12)
378  2014-09Sep  3-1.xls  (69, 70)
379  2014-09Sep  3-2.xls  (69, 70)
380  2014-09Sep  3-3.xls  (69, 70)
381  2014-10Oct  1.xls    (93, 13)
382  2014-10Oct  2.xls    (1681, 12)
383  2014-10Oct  3-1.xls  (69, 70)
384  2014-10Oct  3-2.xls  (69, 70)
385  2014-10Oct  3-3.xls  (69, 70)
386  2014-11Nov  1.xls    (93, 13)
387  2014-11Nov  2.xls    (1681, 12)
388  2014-11Nov  3-1.xls  (69, 70)
389  2014-11Nov  3-2.xls  (69, 70)
390  2014-11Nov  3-3.xls  (69, 70)
391  2014-12Dec  1.xls    (93, 13)
392  2014-12Dec  2.xls    (1681, 12)
393  2014-12Dec  3-1.xls  (69, 70)
394  2014-12Dec  3-2.xls  (69, 70)
395  2014-12Dec  3-3.xls  (69, 70)
396  2015-01Jan  1.xls    (93, 13)
397  2015-01Jan  2.xls    (1681, 12)
398  2015-01Jan  3-1.xls  (69, 70)
399  2015-01Jan  3-2.xls  (69, 70)
400  2015-01Jan  3-3.xls  (69, 70)
401  2015-02Feb  1.xls    (93, 13)
402  2015-02Feb  2.xls    (1681, 12)
403  2015-02Feb  3-1.xls  (69, 70)
404  2015-02Feb  3-2.xls  (69, 70)
405  2015-02Feb  3-3.xls  (69, 70)
406  2015-03Mar  1.xls    (93, 13)
407  2015-03Mar  2.xls    (1681, 12)
408  2015-03Mar  3-1.xls  (69, 70)
409  2015-03Mar  3-2.xls  (69, 70)
410  2015-03Mar  3-3.xls  (69, 70)
411  2015-04Apr  1.xls    (93, 13)
412  2015-04Apr  2.xls    (1681, 12)
413  2015-04Apr  3-1.xls  (69, 70)
414  2015-04Apr  3-2.xls  (69, 70)
415  2015-04Apr  3-3.xls  (69, 70)
416  2015-05May  1.xls    (93, 13)
417  2015-05May  2.xls    (1681, 12)
418  2015-05May  3-1.xls  (69, 70)
419  2015-05May  3-2.xls  (69, 70)
420  2015-05May  3-3.xls  (69, 70)
421  2015-06Jun  1.xls    (93, 13)
422  2015-06Jun  2.xls    (1681, 12)
423  2015-06Jun  3-1.xls  (69, 70)
424  2015-06Jun  3-2.xls  (69, 70)
425  2015-06Jun  3-3.xls  (69, 70)
426  2015-07Jul  1.xls    (93, 13)
427  2015-07Jul  2.xls    (1681, 12)
428  2015-07Jul  3-1.xls  (69, 70)
429  2015-07Jul  3-2.xls  (69, 70)
430  2015-07Jul  3-3.xls  (69, 70)
431  2015-08Aug  1.xls    (93, 13)
432  2015-08Aug  2.xls    (1681, 12)
433  2015-08Aug  3-1.xls  (69, 70)
434  2015-08Aug  3-2.xls  (69, 70)
435  2015-08Aug  3-3.xls  (69, 70)
436  2015-09Sep  1.xls    (93, 13)
437  2015-09Sep  2.xls    (1681, 12)
438  2015-09Sep  3-1.xls  (69, 70)
439  2015-09Sep  3-2.xls  (69, 70)
440  2015-09Sep  3-3.xls  (69, 70)
441  2015-10Oct  1.xls    (93, 13)
442  2015-10Oct  2.xls    (1681, 12)
443  2015-10Oct  3-1.xls  (69, 70)
444  2015-10Oct  3-2.xls  (69, 70)
445  2015-10Oct  3-3.xls  (69, 70)
446  2015-11Nov  1.xls    (93, 13)
447  2015-11Nov  2.xls    (1681, 12)
448  2015-11Nov  3-1.xls  (69, 70)
449  2015-11Nov  3-2.xls  (69, 70)
450  2015-11Nov  3-3.xls  (69, 70)
451  2015-12Dec  1.xls    (93, 13)
452  2015-12Dec  2.xls    (1681, 12)
453  2015-12Dec  3-1.xls  (69, 70)
454  2015-12Dec  3-2.xls  (69, 70)
455  2015-12Dec  3-3.xls  (69, 70)
456  2016-01Jan  1.xls    (93, 13)
457  2016-01Jan  2.xls    (1681, 12)
458  2016-01Jan  3-1.xls  (69, 70)
459  2016-01Jan  3-2.xls  (69, 70)
460  2016-01Jan  3-3.xls  (69, 70)
461  2016-02Feb  1.xls    (93, 13)
462  2016-02Feb  2.xls    (1681, 12)
463  2016-02Feb  3-1.xls  (69, 70)
464  2016-02Feb  3-2.xls  (69, 70)
465  2016-02Feb  3-3.xls  (69, 70)
466  2016-03Mar  1.xls    (93, 13)
467  2016-03Mar  2.xls    (1681, 12)
468  2016-03Mar  3-1.xls  (69, 70)
469  2016-03Mar  3-2.xls  (69, 70)
470  2016-03Mar  3-3.xls  (69, 70)
471  2016-04Apr  1.xls    (93, 13)
472  2016-04Apr  2.xls    (1681, 12)
473  2016-04Apr  3-1.xls  (69, 70)
474  2016-04Apr  3-2.xls  (69, 70)
475  2016-04Apr  3-3.xls  (69, 70)
476  2016-05May  1.xls    (93, 13)
477  2016-05May  2.xls    (1681, 12)
478  2016-05May  3-1.xls  (69, 70)
479  2016-05May  3-2.xls  (69, 70)
480  2016-05May  3-3.xls  (69, 70)
481  2016-06Jun  1.xls    (93, 13)
482  2016-06Jun  2.xls    (1681, 12)
483  2016-06Jun  3-1.xls  (69, 70)
484  2016-06Jun  3-2.xls  (69, 70)
485  2016-06Jun  3-3.xls  (69, 70)
486  2016-07Jul  1.xls    (93, 13)
487  2016-07Jul  2.xls    (1681, 12)
488  2016-07Jul  3-1.xls  (69, 70)
489  2016-07Jul  3-2.xls  (69, 70)
490  2016-07Jul  3-3.xls  (69, 70)
491  2016-08Aug  1.xls    (93, 13)
492  2016-08Aug  2.xls    (1681, 12)
493  2016-08Aug  3-1.xls  (69, 70)
494  2016-08Aug  3-2.xls  (69, 70)
495  2016-08Aug  3-3.xls  (69, 70)
496  2016-09Sep  1.xls    (93, 13)
497  2016-09Sep  2.xls    (1681, 12)
498  2016-09Sep  3-1.xls  (69, 70)
499  2016-09Sep  3-2.xls  (69, 70)
500  2016-09Sep  3-3.xls  (69, 70)
501  2016-10Oct  1.xls    (93, 13)
502  2016-10Oct  2.xls    (1681, 12)
503  2016-10Oct  3-1.xls  (69, 70)
504  2016-10Oct  3-2.xls  (69, 70)
505  2016-10Oct  3-3.xls  (69, 70)
506  2016-11Nov  1.xls    (93, 13)
507  2016-11Nov  2.xls    (1681, 12)
508  2016-11Nov  3-1.xls  (69, 70)
509  2016-11Nov  3-2.xls  (69, 70)
510  2016-11Nov  3-3.xls  (69, 70)
511  2016-12Dec  1.xls    (93, 13)
512  2016-12Dec  2.xls    (1681, 12)
513  2016-12Dec  3-1.xls  (69, 70)
514  2016-12Dec  3-2.xls  (69, 70)
515  2016-12Dec  3-3.xls  (69, 70)
516  2017-01Jan  1.xls    (93, 13)
517  2017-01Jan  2.xls    (1681, 12)
518  2017-01Jan  3-1.xls  (69, 70)
519  2017-01Jan  3-2.xls  (69, 70)
520  2017-01Jan  3-3.xls  (69, 70)
521  2017-02Feb  1.xls    (93, 13)
522  2017-02Feb  2.xls    (1681, 12)
523  2017-02Feb  3-1.xls  (69, 70)
524  2017-02Feb  3-2.xls  (69, 70)
525  2017-02Feb  3-3.xls  (69, 70)
526  2017-03Mar  1.xls    (93, 13)
527  2017-03Mar  2.xls    (1681, 12)
528  2017-03Mar  3-1.xls  (69, 70)
529  2017-03Mar  3-2.xls  (69, 70)
530  2017-03Mar  3-3.xls  (69, 70)
531  2017-04Apr  1.xls    (93, 13)
532  2017-04Apr  2.xls    (1681, 12)
533  2017-04Apr  3-1.xls  (69, 70)
534  2017-04Apr  3-2.xls  (69, 70)
535  2017-04Apr  3-3.xls  (69, 70)
536  2017-05May  1.xls    (93, 13)
537  2017-05May  2.xls    (1681, 12)
538  2017-05May  3-1.xls  (69, 70)
539  2017-05May  3-2.xls  (69, 70)
540  2017-05May  3-3.xls  (69, 70)
541  2017-06Jun  1.xls    (93, 13)
542  2017-06Jun  2.xls    (1681, 12)
543  2017-06Jun  3-1.xls  (69, 70)
544  2017-06Jun  3-2.xls  (69, 70)
545  2017-06Jun  3-3.xls  (69, 70)
546  2017-07Jul  1.xls    (93, 13)
547  2017-07Jul  2.xls    (1681, 12)
548  2017-07Jul  3-1.xls  (69, 70)
549  2017-07Jul  3-2.xls  (69, 70)
550  2017-07Jul  3-3.xls  (69, 70)
551  2017-08Aug  1.xls    (93, 13)
552  2017-08Aug  2.xls    (1681, 12)
553  2017-08Aug  3-1.xls  (69, 70)
554  2017-08Aug  3-2.xls  (69, 70)
555  2017-08Aug  3-3.xls  (69, 70)
556  2017-09Sep  1.xls    (93, 13)
557  2017-09Sep  2.xls    (1681, 12)
558  2017-09Sep  3-1.xls  (69, 70)
559  2017-09Sep  3-2.xls  (69, 70)
560  2017-09Sep  3-3.xls  (69, 70)

In [106]:
tableshape_agg_df = tableshape_df.groupby(['file', 'shape'])['year-month'].apply(list).reset_index()

In [107]:
tableshape_agg_df['count'] = [len(x) for x in tableshape_agg_df['year-month']]
[x.sort for x in tableshape_agg_df['year-month']]
tableshape_agg_df.sort_values(by='year-month')
tableshape_agg_df

,file,shape,year-month,count
0,1.xls,"(86, 18)","[2006-10Oct, 2006-11Nov, 2006-12Dec, 2007-01Jan, 2007-02Feb, 2007-03Mar]",6
1,1.xls,"(88, 13)","[2006-01Jan, 2006-02Feb, 2006-03Mar]",3
2,1.xls,"(88, 18)","[2007-04Apr, 2007-05May, 2007-06Jun, 2007-07Jul, 2007-08Aug, 2007-09Sep, 2007-10Oct, 2007-11Nov, 2007-12Dec]",9
3,1.xls,"(89, 13)","[2006-04Apr, 2006-05May, 2006-06Jun, 2006-07Jul, 2006-08Aug, 2006-09Sep]",6
4,1.xls,"(91, 13)","[2008-01Jan, 2008-02Feb, 2008-03Mar, 2008-04Apr, 2008-05May, 2008-06Jun, 2008-07Jul, 2008-08Aug, 2008-09Sep, 2008-10Oct, 2008-11Nov, 2008-12Dec, 2009-01Jan, 2009-02Feb, 2009-03Mar, 2010-01Jan, 2010-02Feb, 2010-03Mar]",18
5,1.xls,"(92, 13)","[2009-04Apr, 2009-05May, 2009-06Jun, 2009-07Jul, 2009-08Aug, 2009-09Sep, 2009-10Oct, 2009-11Nov, 2009-12Dec, 2010-04Apr, 2010-05May, 2010-06Jun, 2010-07Jul, 2010-08Aug, 2010-09Sep, 2010-10Oct, 2010-11Nov, 2010-12Dec, 2011-01Jan, 2011-02Feb, 2011-03Mar, 2011-04Apr, 2011-05May, 2011-06Jun, 2011-07Jul, 2011-08Aug, 2011-09Sep, 2011-10Oct, 2011-11Nov, 2011-12Dec, 2012-01Jan, 2012-02Feb, 2012-03Mar]",33
6,1.xls,"(93, 13)","[2012-04Apr, 2012-05May, 2012-06Jun, 2012-07Jul, 2012-08Aug, 2012-09Sep, 2012-10Oct, 2012-11Nov, 2012-12Dec, 2013-01Jan, 2013-02Feb, 2013-03Mar, 2013-04Apr, 2013-05May, 2013-06Jun, 2013-07Jul, 2013-08Aug, 2013-09Sep, 2013-10Oct, 2013-11Nov, 2013-12Dec, 2014-01Jan, 2014-02Feb, 2014-03Mar, 2014-04Apr, 2014-05May, 2014-06Jun, 2014-07Jul, 2014-08Aug, 2014-09Sep, 2014-10Oct, 2014-11Nov, 2014-12Dec, 2015-01Jan, 2015-02Feb, 2015-03Mar, 2015-04Apr, 2015-05May, 2015-06Jun, 2015-07Jul, 2015-08Aug, 2015-09Sep, 2015-10Oct, 2015-11Nov, 2015-12Dec, 2016-01Jan, 2016-02Feb, 2016-03Mar, 2016-04Apr, 2016-05May, 2016-06Jun, 2016-07Jul, 2016-08Aug, 2016-09Sep, 2016-10Oct, 2016-11Nov, 2016-12Dec, 2017-01Jan, 2017-02Feb, 2017-03Mar, 2017-04Apr, 2017-05May, 2017-06Jun, 2017-07Jul, 2017-08Aug, 2017-09Sep, 2017-10Oct, 2017-11Nov, 2017-12Dec]",69
7,1.xls,"(105, 13)","[2018-01Jan, 2018-02Feb, 2018-03Mar, 2018-04Apr, 2018-05May, 2018-06Jun]",6
8,2.xls,"(1285, 12)","[2006-01Jan, 2006-02Feb, 2006-03Mar]",3
9,2.xls,"(1362, 18)","[2006-10Oct, 2006-11Nov, 2006-12Dec, 2007-01Jan, 2007-02Feb, 2007-03Mar]",6
10,2.xls,"(1365, 12)","[2006-04Apr, 2006-05May, 2006-06Jun, 2006-07Jul, 2006-08Aug, 2006-09Sep]",6
11,2.xls,"(1396, 18)","[2007-04Apr, 2007-05May, 2007-06Jun, 2007-07Jul, 2007-08Aug, 2007-09Sep, 2007-10Oct, 2007-11Nov, 2007-12Dec]",9
12,2.xls,"(1399, 12)","[2008-01Jan, 2008-02Feb, 2008-03Mar, 2008-04Apr, 2008-05May, 2008-06Jun, 2008-07Jul, 2008-08Aug, 2008-09Sep, 2008-10Oct, 2008-11Nov, 2008-12Dec, 2009-01Jan, 2009-02Feb, 2009-03Mar]",15
13,2.xls,"(1416, 12)","[2009-04Apr, 2009-05May, 2009-06Jun, 2009-07Jul, 2009-08Aug, 2009-09Sep, 2009-10Oct, 2009-11Nov, 2009-12Dec]",9
14,2.xls,"(1557, 12)","[2010-01Jan, 2010-02Feb, 2010-03Mar]",3
15,2.xls,"(1575, 12)","[2010-04Apr, 2010-05May, 2010-06Jun, 2010-07Jul, 2010-08Aug, 2010-09Sep, 2010-10Oct, 2010-11Nov, 2010-12Dec, 2011-01Jan, 2011-02Feb, 2011-03Mar, 2011-04Apr, 2011-05May, 2011-06Jun, 2011-07Jul, 2011-08Aug, 2011-09Sep, 2011-10Oct, 2011-11Nov, 2011-12Dec, 2012-01Jan, 2012-02Feb, 2012-03Mar]",24
16,2.xls,"(1681, 12)","[2012-04Apr, 2012-05May, 2012-06Jun, 2012-07Jul, 2012-08Aug, 2012-09Sep, 2012-10Oct, 2012-11Nov, 2012-12Dec, 2013-01Jan, 2013-02Feb, 2013-03Mar, 2013-04Apr, 2013-05May, 2013-06Jun, 2013-07Jul, 2013-08Aug, 2013-09Sep, 2013-10Oct, 2013-11Nov, 2013-12Dec, 2014-01Jan, 2014-02Feb, 2014-03Mar, 2014-04Apr, 2014-05May, 2014-06Jun, 2014-07Jul, 2014-08Aug, 2014-09Sep, 2014-10Oct, 2014-11Nov, 2014-12Dec, 2015-01Jan, 2015-02Feb, 2015-03Mar, 2015-04Apr, 2015-05May, 2015-06Jun, 2015-07Jul, 2015-08Aug, 2015-09Sep, 2015-10Oct, 2015-11Nov, 2015-12Dec, 2016-01Jan, 2016-02Feb, 2016-03Mar, 2016-04Apr, 2016-05May, 2016-06Jun, 2016-07Jul, 2016-08Aug, 2016-09Sep, 2016-10Oct, 2016-11Nov, 2016-12Dec, 2017-01Jan, 2017-02Feb, 2017-03Mar, 2017-04Apr, 2017-05May, 2017-06Jun, 2017-07Jul, 2017-08Aug, 2017-09Sep, 2017-10Oct, 2017-11Nov, 2017-12Dec, 2018-01Jan, 2018-02Feb, 2018-03Mar, 2018-04Apr, 2018-05May, 2018-06Jun]",75
17,3-1.xls,"(69, 70)","[2010-01Jan, 2010-02Feb, 2010-03Mar, 2010-04Apr, 2010-05May, 2010-06Jun, 2010-07Jul, 2010-08Aug, 2010-09Sep, 2010-10Oct, 2010-11Nov, 2010-12Dec, 2011-01Jan, 2011-02Feb, 2011-03Mar, 2011-04Apr, 2011-05May, 2011-06Jun, 2011-07Jul, 2011-08Aug, 2011-09Sep, 2011-10Oct, 2011-11Nov, 2011-12Dec, 2012-01Jan, 2012-02Feb, 2012-03Mar, 2012-04Apr, 2012-05May, 2012-06Jun, 2012-07Jul, 2012-08Aug, 2012-09Sep, 2012-10Oct, 2012-11Nov, 2012-12Dec, 2013-01Jan, 2013-02Feb, 2013-03Mar, 2013-04Apr, 2013-05May, 2013-06Jun, 2013-07Jul, 2013-08Aug, 2013-09Sep, 2013-10Oct, 2013-11Nov, 2013-12Dec, 2014-01Jan, 2014-02Feb, 2014-03Mar, 2014-04Apr, 2014-05May, 2014-06Jun, 2014-07Jul, 2014-08Aug, 2014-09Sep, 2014-10Oct, 2014-11Nov, 2014-12Dec, 2015-01Jan, 2015-02Feb, 2015-03Mar, 2015-04Apr, 2015-05May, 2015-06Jun, 2015-07Jul, 2015-08Aug, 2015-09Sep, 2015-10Oct, 2015-11Nov, 2015-12Dec, 2016-01Jan, 2016-02Feb, 2016-03Mar, 2016-04Apr, 2016-05May, 2016-06Jun, 2016-07Jul, 2016-08Aug, 2016-09Sep, 2016-10Oct, 2016-11Nov, 2016-12Dec, 2017-01Jan, 2017-02Feb, 2017-03Mar, 2017-04Apr, 2017-05May, 2017-06Jun, 2017-07Jul, 2017-08Aug, 2017-09Sep, 2017-10Oct, 2017-11Nov, 2017-12Dec, 2018-01Jan, 2018-02Feb, 2018-03Mar, 2018-04Apr, ...]",102
18,3-2.xls,"(69, 70)","[2010-01Jan, 2010-02Feb, 2010-03Mar, 2010-04Apr, 2010-05May, 2010-06Jun, 2010-07Jul, 2010-08Aug, 2010-09Sep, 2010-10Oct, 2010-11Nov, 2010-12Dec, 2011-01Jan, 2011-02Feb, 2011-03Mar, 2011-04Apr, 2011-05May, 2011-06Jun, 2011-07Jul, 2011-08Aug, 2011-09Sep, 2011-10Oct, 2011-11Nov, 2011-12Dec, 2012-01Jan, 2012-02Feb, 2012-03Mar, 2012-04Apr, 2012-05May, 2012-06Jun, 2012-07Jul, 2012-08Aug, 2012-09Sep, 2012-10Oct, 2012-11Nov, 2012-12Dec, 2013-01Jan, 2013-02Feb, 2013-03Mar, 2013-04Apr, 2013-05May, 2013-06Jun, 2013-07Jul, 2013-08Aug, 2013-09Sep, 2013-10Oct, 2013-11Nov, 2013-12Dec, 2014-01Jan, 2014-02Feb, 2014-03Mar, 2014-04Apr, 2014-05May, 2014-06Jun, 2014-07Jul, 2014-08Aug, 2014-09Sep, 2014-10Oct, 2014-11Nov, 2014-12Dec, 2015-01Jan, 2015-02Feb, 2015-03Mar, 2015-04Apr, 2015-05May, 2015-06Jun, 2015-07Jul, 2015-08Aug, 2015-09Sep, 2015-10Oct, 2015-11Nov, 2015-12Dec, 2016-01Jan, 2016-02Feb, 2016-03Mar, 2016-04Apr, 2016-05May, 2016-06Jun, 2016-07Jul, 2016-08Aug, 2016-09Sep, 2016-10Oct, 2016-11Nov, 2016-12Dec, 2017-01Jan, 2017-02Feb, 2017-03Mar, 2017-04Apr, 2017-05May, 2017-06Jun, 2017-07Jul, 2017-08Aug, 2017-09Sep, 2017-10Oct, 2017-11Nov, 2017-12Dec, 2018-01Jan, 2018-02Feb, 2018-03Mar, 2018-04Apr, ...]",102
19,3-3.xls,"(69, 70)","[2010-01Jan, 2010-02Feb, 2010-03Mar, 2010-04Apr, 2010-05May, 2010-06Jun, 2010-07Jul, 2010-08Aug, 2010-09Sep, 2010-10Oct, 2010-11Nov, 2010-12Dec, 2011-01Jan, 2011-02Feb, 2011-03Mar, 2011-04Apr, 2011-05May, 2011-06Jun, 2011-07Jul, 2011-08Aug, 2011-09Sep, 2011-10Oct, 2011-11Nov, 2011-12Dec, 2012-01Jan, 2012-02Feb, 2012-03Mar, 2012-04Apr, 2012-05May, 2012-06Jun, 2012-07Jul, 2012-08Aug, 2012-09Sep, 2012-10Oct, 2012-11Nov, 2012-12Dec, 2013-01Jan, 2013-02Feb, 2013-03Mar, 2013-04Apr, 2013-05May, 2013-06Jun, 2013-07Jul, 2013-08Aug, 2013-09Sep, 2013-10Oct, 2013-11Nov, 2013-12Dec, 2014-01Jan, 2014-02Feb, 2014-03Mar, 2014-04Apr, 2014-05May, 2014-06Jun, 2014-07Jul, 2014-08Aug, 2014-09Sep, 2014-10Oct, 2014-11Nov, 2014-12Dec, 2015-01Jan, 2015-02Feb, 2015-03Mar, 2015-04Apr, 2015-05May, 2015-06Jun, 2015-07Jul, 2015-08Aug, 2015-09Sep, 2015-10Oct, 2015-11Nov, 2015-12Dec, 2016-01Jan, 2016-02Feb, 2016-03Mar, 2016-04Apr, 2016-05May, 2016-06Jun, 2016-07Jul, 2016-08Aug, 2016-09Sep, 2016-10Oct, 2016-11Nov, 2016-12Dec, 2017-01Jan, 2017-02Feb, 2017-03Mar, 2017-04Apr, 2017-05May, 2017-06Jun, 2017-07Jul, 2017-08Aug, 2017-09Sep, 2017-10Oct, 2017-11Nov, 2017-12Dec, 2018-01Jan, 2018-02Feb, 2018-03Mar, 2018-04Apr, ...]",102

In [6]:
table_1_list= [x for x in filepathlist if x.split('\\')[-1] == '1.xls']
table3_1_list = [x for x in filepathlist if '3-1' in x]
table3_2_list = [x for x in filepathlist if '3-2' in x]

In [21]:
def combine_clean_1xls_tables(table_excel_list):
    table_df_list = []

    for filepath in table_excel_list:
        filepath_parts = filepath.split('\\')
        year = filepath_parts[2]
        month = filepath_parts[3][:2]

        sheets = pd.ExcelFile(filepath).sheet_names
        df = pd.read_excel(filepath, sheet_name=len(sheets)-1)

        messy_df = df.copy()
        messy_df.reset_index(inplace=True)
        
        cornerstone = ''
        cornerstone_col_idx = [messy_df.columns.get_loc(x) for x in messy_df.columns if cornerstone in messy_df[x].values][0]
        cornerstone_col = messy_df.iloc[:,cornerstone_col_idx]
        cornerstone_row_idx = int(cornerstone_col.index[cornerstone_col == cornerstone][0])
        messy_df = messy_df.iloc[:,cornerstone_col_idx:cornerstone_col_idx+6]

        messy_df.columns = ['Prefecture Num', 'Prefecture', 'Prefecture_English', 'Both', 'Male', 'Female']
        messy_df.dropna(axis=0, subset=['Prefecture Num', 'Both', 'Male', 'Female'], how='any', inplace=True)
        
        #using the fact that np.nan != np.nan
        messy_df['Prefecture'] = messy_df.apply(lambda x: x['Prefecture Num'] if x['Prefecture']!=x['Prefecture'] else x['Prefecture'], axis=1)
        messy_df['Prefecture Num'] = messy_df.apply(lambda x: '00' if x['Prefecture Num']=='' else x['Prefecture Num'], axis=1)
        messy_df['Prefecture Num'] = messy_df.apply(lambda x: '00 000' if '' in x['Prefecture Num'] else x['Prefecture Num'], axis=1)
        ku_codes = {
            '': '100',
            '': '101',
            '': '102'
        }
        messy_df['Prefecture Num'] = messy_df.apply(lambda x: ku_codes.get(x['Prefecture Num']) if x['Prefecture Num'] in ku_codes else x['Prefecture Num'], axis=1)
        messy_df['Prefecture_English'] = messy_df.apply(lambda x: x['Prefecture_English'].rstrip(' 3)'), axis=1)
        messy_df['Prefecture_English'] = messy_df.apply(lambda x: x['Prefecture_English'] + ' cities' if 'major' in x['Prefecture_English'] else x['Prefecture_English'], axis=1)
        
        messy_df['Year'] = str(year)
        messy_df['Month'] = str(month)
        messy_df['Age bucket'] = 'Total'

        messy_df = messy_df.reindex(columns=['Prefecture Num', 'Prefecture', 'Prefecture_English', 'Year', 'Month', 'Age bucket', 'Both', 'Male', 'Female'])
        
        if False not in messy_df.iloc[:,7:10].applymap(np.isreal).values.flatten():
            table_df_list.append(messy_df)
        else:
            print('Some non-numeric value found in internal migration counts.')
            print(messy_df.iloc[:,7:10].head(5))

    combined_df = pd.concat(table_df_list).reset_index(drop=True)
    if '' in combined_df['Prefecture Num']: print('matched multiple kanji string!')
    return combined_df

In [8]:
def combine_clean_3xls_tables(table_excel_list):
    #Always take the last sheet: assume that in the absense of separate sheets, the numbers are for Japanese citizens only
    table_df_list = []

    for filepath in table_excel_list:
        filepath_parts = filepath.split('\\')
        year = filepath_parts[2]
        month = filepath_parts[3][:2]

        sheets = pd.ExcelFile(filepath).sheet_names
        df = pd.read_excel(filepath, sheet_name=len(sheets)-1)

        messy_df = df.copy()
        messy_df.reset_index(inplace=True)
        messy_df.columns = [x.replace('', '-') for x in messy_df.iloc[13].replace({
                                                    'Prefectures': 'Prefecture Num',
                                                    '  1)': 'Total',
                                                    '04': '04',
                                                    '90': '90 & above'
                                                    }).fillna('Prefecture')]
        messy_df.iloc[18,10] = messy_df.iloc[18,8]
        messy_df = messy_df.iloc[18:66,8:]
        messy_df.reset_index(drop=True, inplace=True)
        messy_df.dropna(axis=1, inplace=True)
        messy_df.loc[0,'Prefecture Num'] = '00'

        both_df = messy_df.iloc[:,:22]
        male_df = messy_df.iloc[:,22:44]
        female_df = messy_df.iloc[:,44:66]

        both_df['Gender'] = 'Both'
        male_df['Gender'] = 'Male'
        female_df['Gender'] = 'Female'

        this_month_df = pd.concat([both_df, male_df, female_df])
        this_month_df['Year'] = str(year)
        this_month_df['Month'] = str(month)

        if False not in this_month_df.iloc[:,2:22].applymap(np.isreal).values.flatten():
            table_df_list.append(this_month_df)
        else:
            print('Some non-numeric value found in in/out migration counts.')
    
    combined_df = pd.concat(table_df_list).reset_index(drop=True)
    return combined_df

In [22]:
%%time
in_migrants_age_df = combine_clean_3xls_tables(table3_1_list)
out_migrants_age_df = combine_clean_3xls_tables(table3_2_list)
internal_migrants_df = combine_clean_1xls_tables(table_1_list)

C:\Users\friedemann.ang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\friedemann.ang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\friedemann.ang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\friedemann.ang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:16: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  app.launch_new_instance()

Wall time: 27.1 s

In [68]:
jp2en_df = internal_migrants_df[['Prefecture', 'Prefecture_English']].drop_duplicates()
jp2en_df.set_index('Prefecture', inplace=True)
jp2en_dict = jp2en_df['Prefecture_English'].to_dict()

In [71]:
jp2en_dict.get('')

' Hokkaido'

In [52]:
internal_migrants_df.tail(60)

,Prefecture Num,Prefecture,Prefecture_English,Year,Month,Age bucket,Both,Male,Female
10260,13,,Tokyo-to,2018,06,Total,28529,14549,13980
10261,14,,Kanagawa-ken,2018,06,Total,15365,7878,7487
10262,15,,Niigata-ken,2018,06,Total,2196,1075,1121
10263,16,,Toyama-ken,2018,06,Total,657,316,341
10264,17,,Ishikawa-ken,2018,06,Total,990,474,516
10265,18,,Fukui-ken,2018,06,Total,569,278,291
10266,19,,Yamanashi-ken,2018,06,Total,974,457,517
10267,20,,Nagano-ken,2018,06,Total,2044,1007,1037
10268,21,,Gifu-ken,2018,06,Total,1643,844,799
10269,22,,Shizuoka-ken,2018,06,Total,4395,2275,2120
10270,23,,Aichi-ken,2018,06,Total,12819,6859,5960
10271,24,,Mie-ken,2018,06,Total,1467,770,697
10272,25,,Shiga-ken,2018,06,Total,1255,656,599
10273,26,,Kyoto-fu,2018,06,Total,3301,1639,1662
10274,27,,Osaka-fu,2018,06,Total,15480,7894,7586
10275,28,,Hyogo-ken,2018,06,Total,6678,3300,3378
10276,29,,Nara-ken,2018,06,Total,1100,538,562
10277,30,,Wakayama-ken,2018,06,Total,712,355,357
10278,31,,Tottori-ken,2018,06,Total,355,180,175
10279,32,,Shimane-ken,2018,06,Total,304,148,156
10280,33,,Okayama-ken,2018,06,Total,2009,998,1011
10281,34,,Hiroshima-ken,2018,06,Total,3636,1867,1769
10282,35,,Yamaguchi-ken,2018,06,Total,995,537,458
10283,36,,Tokushima-ken,2018,06,Total,642,309,333
10284,37,,Kagawa-ken,2018,06,Total,704,357,347
10285,38,,Ehime-ken,2018,06,Total,938,454,484
10286,39,,Kochi-ken,2018,06,Total,677,332,345
10287,40,,Fukuoka-ken,2018,06,Total,10572,5295,5277
10288,41,,Saga-ken,2018,06,Total,678,327,351
10289,42,,Nagasaki-ken,2018,06,Total,1110,558,552
10290,43,,Kumamoto-ken,2018,06,Total,3097,1458,1639
10291,44,,Oita-ken,2018,06,Total,912,462,450
10292,45,,Miyazaki-ken,2018,06,Total,877,415,462
10293,46,,Kagoshima-ken,2018,06,Total,1571,776,795
10294,47,,Okinawa-ken,2018,06,Total,2963,1459,1504
10295,100,,Tokyo Area,2018,06,Total,93524,48572,44952
10296,101,,Nagoya Area,2018,06,Total,18690,10009,8681
10297,102,,Osaka Area,2018,06,Total,34268,17311,16957
10298,00 000,21,Total of 21 major cities,2018,06,Total,54671,27456,27215
10299,01 100,,Sapporo-shi,2018,06,Total,4255,1973,2282
10300,04 100,,Sendai-shi,2018,06,Total,1494,699,795
10301,11 100,,Saitama-shi,2018,06,Total,1343,670,673
10302,12 100,,Chiba-shi,2018,06,Total,871,453,418
10303,13 100,,Ku-area of Tokyo,2018,06,Total,18239,9410,8829
10304,14 100,,Yokohama-shi,2018,06,Total,4965,2458,2507
10305,14 130,,Kawasaki-shi,2018,06,Total,1265,660,605
10306,14 150,,Sagamihara-shi,2018,06,Total,404,210,194
10307,15 100,,Niigata-shi,2018,06,Total,808,382,426
10308,22 100,,Shizuoka-shi,2018,06,Total,541,273,268
10309,22 130,,Hamamatsu-shi,2018,06,Total,966,479,487
10310,23 100,,Nagoya-shi,2018,06,Total,3628,1876,1752
10311,26 100,,Kyoto-shi,2018,06,Total,1795,871,924
10312,27 100,,Osaka-shi,2018,06,Total,4560,2347,2213
10313,27 140,,Sakai-shi,2018,06,Total,713,352,361
10314,28 100,,Kobe-shi,2018,06,Total,1720,836,884
10315,33 100,,Okayama-shi,2018,06,Total,679,331,348
10316,34 100,,Hiroshima-shi,2018,06,Total,1573,777,796
10317,40 100,,Kitakyushu-shi,2018,06,Total,1108,560,548
10318,40 130,,Fukuoka-shi,2018,06,Total,2647,1331,1316
10319,43 100,,Kumamoto-shi,2018,06,Total,1097,508,589

In [49]:
keys_1xls = ['Both', 'Male', 'Female']
internal_melted_df = pd.melt(internal_migrants_df, 
                             id_vars=['Prefecture Num', 'Prefecture', 'Prefecture_English', 'Year', 'Month', 'Age bucket'], 
                             value_name='Internal migrants', 
                             value_vars=keys_1xls, 
                             var_name='Gender')

In [50]:
len(internal_melted_df)

30960

In [51]:
out_migrants_age_df.head(20)

,Prefecture Num,Prefecture,Total,0-4,5-9,10-14,15-19,20-24,25-29,30-34,35-39,40-44,45-49,50-54,55-59,60-64,65-69,70-74,75-79,80-84,85-89,90 & above,Gender,Year,Month
0,00,,126018,7924,3182,1637,3610,20043,26958,20002,13587,7826,4881,3811,3580,3247,1722,1098,946,864,711,387,Both,2010,01
1,01,,2561,136,77,45,103,473,441,365,296,186,112,99,98,47,27,18,11,13,9,5,Both,2010,01
2,02,,1119,66,38,30,34,277,186,152,103,51,47,39,37,22,9,9,4,5,8,2,Both,2010,01
3,03,,992,74,31,10,37,201,167,155,83,50,59,39,31,23,11,5,6,5,2,3,Both,2010,01
4,04,,2085,160,59,28,66,372,422,298,242,123,88,74,54,38,17,11,13,9,8,3,Both,2010,01
5,05,,753,50,24,11,25,176,121,98,71,39,27,23,25,17,14,4,10,11,3,4,Both,2010,01
6,06,,736,43,27,11,35,165,139,99,70,32,22,27,17,21,9,7,3,1,6,2,Both,2010,01
7,07,,1386,87,25,17,48,336,253,186,128,87,57,44,32,23,12,12,7,16,11,5,Both,2010,01
8,08,,2564,177,78,39,74,409,518,419,289,141,90,73,76,62,29,31,17,13,16,13,Both,2010,01
9,09,,1686,102,45,32,49,304,355,226,166,120,60,56,51,49,26,14,12,11,5,3,Both,2010,01
10,10,,1509,95,36,23,36,244,308,234,164,105,66,59,44,40,13,14,7,7,8,6,Both,2010,01
11,11,,8657,523,208,130,201,1221,1954,1429,1012,501,335,272,265,248,123,72,57,44,45,17,Both,2010,01
12,12,,7771,485,191,101,181,1087,1783,1384,866,447,260,215,213,231,129,51,46,43,41,17,Both,2010,01
13,13,,21182,1122,371,169,374,2875,5003,3727,2370,1430,813,643,582,618,344,238,166,168,97,72,Both,2010,01
14,14,,11664,715,267,133,238,1554,2658,2044,1319,764,473,302,349,328,192,109,81,68,50,20,Both,2010,01
15,15,,1293,68,33,15,47,306,261,181,129,79,46,31,36,19,8,4,9,12,4,5,Both,2010,01
16,16,,674,33,23,10,21,129,115,102,64,56,33,27,21,16,4,6,6,5,2,1,Both,2010,01
17,17,,881,66,31,14,44,145,174,136,83,60,35,32,25,16,7,3,5,2,3,0,Both,2010,01
18,18,,520,35,21,5,18,99,92,65,63,36,20,19,11,10,6,5,6,4,2,3,Both,2010,01
19,19,,814,40,20,18,76,180,157,99,69,36,25,26,13,18,10,5,6,10,1,5,Both,2010,01

In [53]:
keys_3xls = ['Total', '0-4', '5-9', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40-44', '45-49', '50-54', '55-59', '60-64', '65-69', '70-74', '75-79', '80-84', '85-89', '90 & above']
in_melted_df = pd.melt(in_migrants_age_df, 
                       id_vars=['Prefecture Num', 'Prefecture', 'Gender', 'Year', 'Month'], 
                       value_name='Inmigrants', 
                       value_vars=keys_3xls, 
                       var_name='Age bucket')
out_melted_df = pd.melt(out_migrants_age_df, 
                        id_vars=['Prefecture Num', 'Prefecture', 'Gender', 'Year', 'Month'], 
                        value_name='Outmigrants', 
                        value_vars=keys_3xls, 
                        var_name='Age bucket')

In [54]:
combined_melted_df = pd.merge(in_melted_df, out_melted_df, how='left',
                              left_on=list(in_melted_df.columns).remove('Inmigrants'), 
                              right_on=list(out_melted_df.columns).remove('Outmigrants'))

In [55]:
len(combined_melted_df)

293760

In [56]:
out_melted_df.shape[0] == combined_melted_df.shape[0]

True

In [57]:
shared_columns = [x for x in list(internal_melted_df.columns) if x in list(combined_melted_df.columns)]
final_combined_melted_df = pd.merge(combined_melted_df, internal_melted_df, how='outer',
                              left_on=shared_columns, 
                              right_on=shared_columns)

In [58]:
len(final_combined_melted_df)

310032

In [73]:
final_combined_melted_df['Prefecture_English'] = final_combined_melted_df.apply(lambda x: jp2en_dict.get(x['Prefecture']), axis=1)

In [94]:
abcdf = pd.DataFrame(final_combined_melted_df.isnull().sum())
logging.info(tabulate(abcdf, headers='keys', tablefmt='psql'))

INFO:root:+--------------------+--------+
|                    |      0 |
|--------------------+--------|
| Prefecture Num     |      0 |
| Prefecture         |      0 |
| Gender             |      0 |
| Year               |      0 |
| Month              |      0 |
| Age bucket         |      0 |
| Inmigrants         |  16272 |
| Outmigrants        |  16272 |
| Prefecture_English |      0 |
| Internal migrants  | 279072 |
+--------------------+--------+

About 30 months of major city and metropolitan area internal migration data for which there is no corresponding in/out migration data.

Internal migration data only available for total population of each gender, not each age bracket.

In [78]:
final_combined_melted_df.tail(30)

,Prefecture Num,Prefecture,Gender,Year,Month,Age bucket,Inmigrants,Outmigrants,Prefecture_English,Internal migrants
310002,33 100,,Female,2018,05,Total,NaN,NaN,Okayama-shi,419
310003,34 100,,Female,2018,05,Total,NaN,NaN,Hiroshima-shi,1028
310004,40 100,,Female,2018,05,Total,NaN,NaN,Kitakyushu-shi,652
310005,40 130,,Female,2018,05,Total,NaN,NaN,Fukuoka-shi,1599
310006,43 100,,Female,2018,05,Total,NaN,NaN,Kumamoto-shi,755
310007,100,,Female,2018,06,Total,NaN,NaN,Tokyo Area,44952
310008,101,,Female,2018,06,Total,NaN,NaN,Nagoya Area,8681
310009,102,,Female,2018,06,Total,NaN,NaN,Osaka Area,16957
310010,00 000,21,Female,2018,06,Total,NaN,NaN,Total of 21 major cities,27215
310011,01 100,,Female,2018,06,Total,NaN,NaN,Sapporo-shi,2282
310012,04 100,,Female,2018,06,Total,NaN,NaN,Sendai-shi,795
310013,11 100,,Female,2018,06,Total,NaN,NaN,Saitama-shi,673
310014,12 100,,Female,2018,06,Total,NaN,NaN,Chiba-shi,418
310015,13 100,,Female,2018,06,Total,NaN,NaN,Ku-area of Tokyo,8829
310016,14 100,,Female,2018,06,Total,NaN,NaN,Yokohama-shi,2507
310017,14 130,,Female,2018,06,Total,NaN,NaN,Kawasaki-shi,605
310018,14 150,,Female,2018,06,Total,NaN,NaN,Sagamihara-shi,194
310019,15 100,,Female,2018,06,Total,NaN,NaN,Niigata-shi,426
310020,22 100,,Female,2018,06,Total,NaN,NaN,Shizuoka-shi,268
310021,22 130,,Female,2018,06,Total,NaN,NaN,Hamamatsu-shi,487
310022,23 100,,Female,2018,06,Total,NaN,NaN,Nagoya-shi,1752
310023,26 100,,Female,2018,06,Total,NaN,NaN,Kyoto-shi,924
310024,27 100,,Female,2018,06,Total,NaN,NaN,Osaka-shi,2213
310025,27 140,,Female,2018,06,Total,NaN,NaN,Sakai-shi,361
310026,28 100,,Female,2018,06,Total,NaN,NaN,Kobe-shi,884
310027,33 100,,Female,2018,06,Total,NaN,NaN,Okayama-shi,348
310028,34 100,,Female,2018,06,Total,NaN,NaN,Hiroshima-shi,796
310029,40 100,,Female,2018,06,Total,NaN,NaN,Kitakyushu-shi,548
310030,40 130,,Female,2018,06,Total,NaN,NaN,Fukuoka-shi,1316
310031,43 100,,Female,2018,06,Total,NaN,NaN,Kumamoto-shi,589

In [ ]:
def dataframe_to_postgres(df, tablename):
    cur = conn.cursor()
    textstream = io.StringIO()
    upload_df = df.copy()
    #upload_df['excel_description'].replace(['\n', '\t'], '', regex=True, inplace=True)

    upload_df.to_csv(textstream, sep='\t', header=False, index=False, quoting=csv.QUOTE_NONE)
    textstream.seek(0) 
    cur.copy_from(textstream, tablename, null="") # null values become ''
    conn.commit()

In [96]:
table_2_list= [x for x in filepathlist if x.split('/')[-1] == '2.xls']