In [1]:
import os
import io
import csv
import pandas as pd
import numpy as np

import psycopg2
conn = psycopg2.connect(user='airflow', password='Xypherium-0',
                        dbname='jpstat',
                        host='35.224.240.50')

In [2]:
pd.set_option('display.max_colwidth', -1)
pd.set_option('display.max_rows', None, 'display.max_columns', None)

In [3]:
path = os.path.join('extracts', 'monthly_reports')

In [ ]:
def get_directory_structure(rootdir):
    """
    Creates a nested dictionary that represents the folder structure of rootdir
    """
    dir = {}
    rootdir = rootdir.rstrip(os.sep)
    start = rootdir.rfind(os.sep) + 1
    for path, dirs, files in os.walk(rootdir):
        folders = path[start:].split(os.sep)
        subdir = dict.fromkeys(files)
        parent = reduce(dict.get, folders[:-1], dir)
        parent[folders[-1]] = subdir
    return dir

In [4]:
filepathlist = []
for dirpath, subdir, files in os.walk(path):
    for filename in files:
        if filename.endswith('.xls'):
            filepathlist.append(os.path.join(dirpath, filename))

In [28]:
%%time
tableshape_list = []
df_dict = {}
for filepath in filepathlist:
    sheets = pd.ExcelFile(filepath).sheet_names
    
    df = pd.read_excel(filepath, sheet_name=len(sheets)-1)
    filepath_list = filepath.split('\\')
    description = [filepath_list[2] + '-' + filepath_list[3], filepath_list[4], df.shape]
    
    if len(sheets) > 1:
        print(filepath_list[2] + '-' + filepath_list[3] + ' ' + filepath_list[4] + ' has ' + str(len(sheets)) + ' sheets.')
    
    tableshape_list.append(description)

2013-07Jul 1.xls has 2 sheets.
2013-07Jul 3-3.xls has 2 sheets.
2013-08Aug 1.xls has 2 sheets.
2013-08Aug 3-3.xls has 2 sheets.
2013-09Sep 1.xls has 2 sheets.
2013-09Sep 3-3.xls has 2 sheets.
2013-10Oct 1.xls has 2 sheets.
2013-10Oct 3-3.xls has 2 sheets.
2013-11Nov 1.xls has 2 sheets.
2013-11Nov 3-3.xls has 2 sheets.
2013-12Dec 1.xls has 2 sheets.
2013-12Dec 3-3.xls has 2 sheets.
2014-01Jan 1.xls has 2 sheets.
2014-01Jan 3-3.xls has 2 sheets.
2014-02Feb 1.xls has 2 sheets.
2014-02Feb 3-3.xls has 2 sheets.
2014-03Mar 1.xls has 2 sheets.
2014-03Mar 3-3.xls has 2 sheets.
2014-04Apr 1.xls has 2 sheets.
2014-04Apr 3-3.xls has 2 sheets.
2014-05May 1.xls has 2 sheets.
2014-05May 3-3.xls has 2 sheets.
2014-06Jun 1.xls has 2 sheets.
2014-06Jun 3-3.xls has 2 sheets.
2014-07Jul 1.xls has 2 sheets.
2014-07Jul 3-3.xls has 2 sheets.
2014-08Aug 1.xls has 2 sheets.
2014-08Aug 3-3.xls has 2 sheets.
2014-09Sep 1.xls has 2 sheets.
2014-09Sep 3-3.xls has 2 sheets.
2014-10Oct 1.xls has 2 sheets.
2014-10Oct 3-3.xls has 2 sheets.
2014-11Nov 1.xls has 2 sheets.
2014-11Nov 3-3.xls has 2 sheets.
2014-12Dec 1.xls has 2 sheets.
2014-12Dec 3-3.xls has 2 sheets.
2015-01Jan 1.xls has 2 sheets.
2015-01Jan 3-3.xls has 2 sheets.
2015-02Feb 1.xls has 2 sheets.
2015-02Feb 3-3.xls has 2 sheets.
2015-03Mar 1.xls has 2 sheets.
2015-03Mar 3-3.xls has 2 sheets.
2015-04Apr 1.xls has 2 sheets.
2015-04Apr 3-3.xls has 2 sheets.
2015-05May 1.xls has 2 sheets.
2015-05May 3-3.xls has 2 sheets.
2015-06Jun 1.xls has 2 sheets.
2015-06Jun 3-3.xls has 2 sheets.
2015-07Jul 1.xls has 2 sheets.
2015-07Jul 3-3.xls has 2 sheets.
2015-08Aug 1.xls has 2 sheets.
2015-08Aug 3-3.xls has 2 sheets.
2015-09Sep 1.xls has 2 sheets.
2015-09Sep 3-3.xls has 2 sheets.
2015-10Oct 1.xls has 2 sheets.
2015-10Oct 3-3.xls has 2 sheets.
2015-11Nov 1.xls has 2 sheets.
2015-11Nov 3-3.xls has 2 sheets.
2015-12Dec 1.xls has 2 sheets.
2015-12Dec 3-3.xls has 2 sheets.
2016-01Jan 1.xls has 2 sheets.
2016-01Jan 3-3.xls has 2 sheets.
2016-02Feb 1.xls has 2 sheets.
2016-02Feb 3-3.xls has 2 sheets.
2016-03Mar 1.xls has 2 sheets.
2016-03Mar 3-3.xls has 2 sheets.
2016-04Apr 1.xls has 2 sheets.
2016-04Apr 3-3.xls has 2 sheets.
2016-05May 1.xls has 2 sheets.
2016-05May 3-3.xls has 2 sheets.
2016-06Jun 1.xls has 2 sheets.
2016-06Jun 3-3.xls has 2 sheets.
2016-07Jul 1.xls has 2 sheets.
2016-07Jul 3-3.xls has 2 sheets.
2016-08Aug 1.xls has 2 sheets.
2016-08Aug 3-3.xls has 2 sheets.
2016-09Sep 1.xls has 2 sheets.
2016-09Sep 3-3.xls has 2 sheets.
2016-10Oct 1.xls has 2 sheets.
2016-10Oct 3-3.xls has 2 sheets.
2016-11Nov 1.xls has 2 sheets.
2016-11Nov 3-3.xls has 2 sheets.
2016-12Dec 1.xls has 2 sheets.
2016-12Dec 3-3.xls has 2 sheets.
2017-01Jan 1.xls has 2 sheets.
2017-01Jan 3-3.xls has 2 sheets.
2017-02Feb 1.xls has 2 sheets.
2017-02Feb 3-3.xls has 2 sheets.
2017-03Mar 1.xls has 2 sheets.
2017-03Mar 3-3.xls has 2 sheets.
2017-04Apr 1.xls has 2 sheets.
2017-04Apr 3-3.xls has 2 sheets.
2017-05May 1.xls has 2 sheets.
2017-05May 3-3.xls has 2 sheets.
2017-06Jun 1.xls has 2 sheets.
2017-06Jun 3-3.xls has 2 sheets.
2017-07Jul 1.xls has 2 sheets.
2017-07Jul 3-3.xls has 2 sheets.
2017-08Aug 1.xls has 2 sheets.
2017-08Aug 3-3.xls has 2 sheets.
2017-09Sep 1.xls has 2 sheets.
2017-09Sep 3-3.xls has 2 sheets.
2017-10Oct 1.xls has 2 sheets.
2017-10Oct 3-3.xls has 2 sheets.
2017-11Nov 1.xls has 2 sheets.
2017-11Nov 3-3.xls has 2 sheets.
2017-12Dec 1.xls has 2 sheets.
2017-12Dec 3-3.xls has 2 sheets.
2018-01Jan 1.xls has 2 sheets.
2018-01Jan 3-3.xls has 2 sheets.
2018-02Feb 1.xls has 2 sheets.
2018-02Feb 3-3.xls has 2 sheets.
2018-03Mar 1.xls has 2 sheets.
2018-03Mar 3-3.xls has 2 sheets.
2018-04Apr 1.xls has 2 sheets.
2018-04Apr 3-3.xls has 2 sheets.
2018-05May 1.xls has 2 sheets.
2018-05May 3-3.xls has 2 sheets.
2018-06Jun 1.xls has 2 sheets.
2018-06Jun 3-3.xls has 2 sheets.
Wall time: 35.3 s

In [95]:
tableshape_df.iloc[:,1:3]

        file       shape
0    1.xls    (88, 13)
1    2.xls    (1285, 12)
2    1.xls    (88, 13)
3    2.xls    (1285, 12)
4    1.xls    (88, 13)
5    2.xls    (1285, 12)
6    1.xls    (89, 13)
7    2.xls    (1365, 12)
8    1.xls    (89, 13)
9    2.xls    (1365, 12)
10   1.xls    (89, 13)
11   2.xls    (1365, 12)
12   1.xls    (89, 13)
13   2.xls    (1365, 12)
14   1.xls    (89, 13)
15   2.xls    (1365, 12)
16   1.xls    (89, 13)
17   2.xls    (1365, 12)
18   1.xls    (86, 18)
19   2.xls    (1362, 18)
20   1.xls    (86, 18)
21   2.xls    (1362, 18)
22   1.xls    (86, 18)
23   2.xls    (1362, 18)
24   1.xls    (86, 18)
25   2.xls    (1362, 18)
26   1.xls    (86, 18)
27   2.xls    (1362, 18)
28   1.xls    (86, 18)
29   2.xls    (1362, 18)
30   1.xls    (88, 18)
31   2.xls    (1396, 18)
32   1.xls    (88, 18)
33   2.xls    (1396, 18)
34   1.xls    (88, 18)
35   2.xls    (1396, 18)
36   1.xls    (88, 18)
37   2.xls    (1396, 18)
38   1.xls    (88, 18)
39   2.xls    (1396, 18)
40   1.xls    (88, 18)
41   2.xls    (1396, 18)
42   1.xls    (88, 18)
43   2.xls    (1396, 18)
44   1.xls    (88, 18)
45   2.xls    (1396, 18)
46   1.xls    (88, 18)
47   2.xls    (1396, 18)
48   1.xls    (91, 13)
49   2.xls    (1399, 12)
50   1.xls    (91, 13)
51   2.xls    (1399, 12)
52   1.xls    (91, 13)
53   2.xls    (1399, 12)
54   1.xls    (91, 13)
55   2.xls    (1399, 12)
56   1.xls    (91, 13)
57   2.xls    (1399, 12)
58   1.xls    (91, 13)
59   2.xls    (1399, 12)
60   1.xls    (91, 13)
61   2.xls    (1399, 12)
62   1.xls    (91, 13)
63   2.xls    (1399, 12)
64   1.xls    (91, 13)
65   2.xls    (1399, 12)
66   1.xls    (91, 13)
67   2.xls    (1399, 12)
68   1.xls    (91, 13)
69   2.xls    (1399, 12)
70   1.xls    (91, 13)
71   2.xls    (1399, 12)
72   1.xls    (91, 13)
73   2.xls    (1399, 12)
74   1.xls    (91, 13)
75   2.xls    (1399, 12)
76   1.xls    (91, 13)
77   2.xls    (1399, 12)
78   1.xls    (92, 13)
79   2.xls    (1416, 12)
80   1.xls    (92, 13)
81   2.xls    (1416, 12)
82   1.xls    (92, 13)
83   2.xls    (1416, 12)
84   1.xls    (92, 13)
85   2.xls    (1416, 12)
86   1.xls    (92, 13)
87   2.xls    (1416, 12)
88   1.xls    (92, 13)
89   2.xls    (1416, 12)
90   1.xls    (92, 13)
91   2.xls    (1416, 12)
92   1.xls    (92, 13)
93   2.xls    (1416, 12)
94   1.xls    (92, 13)
95   2.xls    (1416, 12)
96   1.xls    (91, 13)
97   2.xls    (1557, 12)
98   3-1.xls  (69, 70)
99   3-2.xls  (69, 70)
100  3-3.xls  (69, 70)
101  1.xls    (91, 13)
102  2.xls    (1557, 12)
103  3-1.xls  (69, 70)
104  3-2.xls  (69, 70)
105  3-3.xls  (69, 70)
106  1.xls    (91, 13)
107  2.xls    (1557, 12)
108  3-1.xls  (69, 70)
109  3-2.xls  (69, 70)
110  3-3.xls  (69, 70)
111  1.xls    (92, 13)
112  2.xls    (1575, 12)
113  3-1.xls  (69, 70)
114  3-2.xls  (69, 70)
115  3-3.xls  (69, 70)
116  1.xls    (92, 13)
117  2.xls    (1575, 12)
118  3-1.xls  (69, 70)
119  3-2.xls  (69, 70)
120  3-3.xls  (69, 70)
121  1.xls    (92, 13)
122  2.xls    (1575, 12)
123  3-1.xls  (69, 70)
124  3-2.xls  (69, 70)
125  3-3.xls  (69, 70)
126  1.xls    (92, 13)
127  2.xls    (1575, 12)
128  3-1.xls  (69, 70)
129  3-2.xls  (69, 70)
130  3-3.xls  (69, 70)
131  1.xls    (92, 13)
132  2.xls    (1575, 12)
133  3-1.xls  (69, 70)
134  3-2.xls  (69, 70)
135  3-3.xls  (69, 70)
136  1.xls    (92, 13)
137  2.xls    (1575, 12)
138  3-1.xls  (69, 70)
139  3-2.xls  (69, 70)
140  3-3.xls  (69, 70)
141  1.xls    (92, 13)
142  2.xls    (1575, 12)
143  3-1.xls  (69, 70)
144  3-2.xls  (69, 70)
145  3-3.xls  (69, 70)
146  1.xls    (92, 13)
147  2.xls    (1575, 12)
148  3-1.xls  (69, 70)
149  3-2.xls  (69, 70)
150  3-3.xls  (69, 70)
151  1.xls    (92, 13)
152  2.xls    (1575, 12)
153  3-1.xls  (69, 70)
154  3-2.xls  (69, 70)
155  3-3.xls  (69, 70)
156  1.xls    (92, 13)
157  2.xls    (1575, 12)
158  3-1.xls  (69, 70)
159  3-2.xls  (69, 70)
160  3-3.xls  (69, 70)
161  1.xls    (92, 13)
162  2.xls    (1575, 12)
163  3-1.xls  (69, 70)
164  3-2.xls  (69, 70)
165  3-3.xls  (69, 70)
166  1.xls    (92, 13)
167  2.xls    (1575, 12)
168  3-1.xls  (69, 70)
169  3-2.xls  (69, 70)
170  3-3.xls  (69, 70)
171  1.xls    (92, 13)
172  2.xls    (1575, 12)
173  3-1.xls  (69, 70)
174  3-2.xls  (69, 70)
175  3-3.xls  (69, 70)
176  1.xls    (92, 13)
177  2.xls    (1575, 12)
178  3-1.xls  (69, 70)
179  3-2.xls  (69, 70)
180  3-3.xls  (69, 70)
181  1.xls    (92, 13)
182  2.xls    (1575, 12)
183  3-1.xls  (69, 70)
184  3-2.xls  (69, 70)
185  3-3.xls  (69, 70)
186  1.xls    (92, 13)
187  2.xls    (1575, 12)
188  3-1.xls  (69, 70)
189  3-2.xls  (69, 70)
190  3-3.xls  (69, 70)
191  1.xls    (92, 13)
192  2.xls    (1575, 12)
193  3-1.xls  (69, 70)
194  3-2.xls  (69, 70)
195  3-3.xls  (69, 70)
196  1.xls    (92, 13)
197  2.xls    (1575, 12)
198  3-1.xls  (69, 70)
199  3-2.xls  (69, 70)
200  3-3.xls  (69, 70)
201  1.xls    (92, 13)
202  2.xls    (1575, 12)
203  3-1.xls  (69, 70)
204  3-2.xls  (69, 70)
205  3-3.xls  (69, 70)
206  1.xls    (92, 13)
207  2.xls    (1575, 12)
208  3-1.xls  (69, 70)
209  3-2.xls  (69, 70)
210  3-3.xls  (69, 70)
211  1.xls    (92, 13)
212  2.xls    (1575, 12)
213  3-1.xls  (69, 70)
214  3-2.xls  (69, 70)
215  3-3.xls  (69, 70)
216  1.xls    (92, 13)
217  2.xls    (1575, 12)
218  3-1.xls  (69, 70)
219  3-2.xls  (69, 70)
220  3-3.xls  (69, 70)
221  1.xls    (92, 13)
222  2.xls    (1575, 12)
223  3-1.xls  (69, 70)
224  3-2.xls  (69, 70)
225  3-3.xls  (69, 70)
226  1.xls    (92, 13)
227  2.xls    (1575, 12)
228  3-1.xls  (69, 70)
229  3-2.xls  (69, 70)
230  3-3.xls  (69, 70)
231  1.xls    (93, 13)
232  2.xls    (1681, 12)
233  3-1.xls  (69, 70)
234  3-2.xls  (69, 70)
235  3-3.xls  (69, 70)
236  1.xls    (93, 13)
237  2.xls    (1681, 12)
238  3-1.xls  (69, 70)
239  3-2.xls  (69, 70)
240  3-3.xls  (69, 70)
241  1.xls    (93, 13)
242  2.xls    (1681, 12)
243  3-1.xls  (69, 70)
244  3-2.xls  (69, 70)
245  3-3.xls  (69, 70)
246  1.xls    (93, 13)
247  2.xls    (1681, 12)
248  3-1.xls  (69, 70)
249  3-2.xls  (69, 70)
250  3-3.xls  (69, 70)
251  1.xls    (93, 13)
252  2.xls    (1681, 12)
253  3-1.xls  (69, 70)
254  3-2.xls  (69, 70)
255  3-3.xls  (69, 70)
256  1.xls    (93, 13)
257  2.xls    (1681, 12)
258  3-1.xls  (69, 70)
259  3-2.xls  (69, 70)
260  3-3.xls  (69, 70)
261  1.xls    (93, 13)
262  2.xls    (1681, 12)
263  3-1.xls  (69, 70)
264  3-2.xls  (69, 70)
265  3-3.xls  (69, 70)
266  1.xls    (93, 13)
267  2.xls    (1681, 12)
268  3-1.xls  (69, 70)
269  3-2.xls  (69, 70)
270  3-3.xls  (69, 70)
271  1.xls    (93, 13)
272  2.xls    (1681, 12)
273  3-1.xls  (69, 70)
274  3-2.xls  (69, 70)
275  3-3.xls  (69, 70)
276  1.xls    (93, 13)
277  2.xls    (1681, 12)
278  3-1.xls  (69, 70)
279  3-2.xls  (69, 70)
280  3-3.xls  (69, 70)
281  1.xls    (93, 13)
282  2.xls    (1681, 12)
283  3-1.xls  (69, 70)
284  3-2.xls  (69, 70)
285  3-3.xls  (69, 70)
286  1.xls    (93, 13)
287  2.xls    (1681, 12)
288  3-1.xls  (69, 70)
289  3-2.xls  (69, 70)
290  3-3.xls  (69, 70)
291  1.xls    (93, 13)
292  2.xls    (1681, 12)
293  3-1.xls  (69, 70)
294  3-2.xls  (69, 70)
295  3-3.xls  (69, 70)
296  1.xls    (93, 13)
297  2.xls    (1681, 12)
298  3-1.xls  (69, 70)
299  3-2.xls  (69, 70)
300  3-3.xls  (69, 70)
301  1.xls    (93, 13)
302  2.xls    (1681, 12)
303  3-1.xls  (69, 70)
304  3-2.xls  (69, 70)
305  3-3.xls  (69, 70)
306  1.xls    (93, 13)
307  2.xls    (1681, 12)
308  3-1.xls  (69, 70)
309  3-2.xls  (69, 70)
310  3-3.xls  (69, 70)
311  1.xls    (93, 13)
312  2.xls    (1681, 12)
313  3-1.xls  (69, 70)
314  3-2.xls  (69, 70)
315  3-3.xls  (69, 70)
316  1.xls    (93, 13)
317  2.xls    (1681, 12)
318  3-1.xls  (69, 70)
319  3-2.xls  (69, 70)
320  3-3.xls  (69, 70)
321  1.xls    (93, 13)
322  2.xls    (1681, 12)
323  3-1.xls  (69, 70)
324  3-2.xls  (69, 70)
325  3-3.xls  (69, 70)
326  1.xls    (93, 13)
327  2.xls    (1681, 12)
328  3-1.xls  (69, 70)
329  3-2.xls  (69, 70)
330  3-3.xls  (69, 70)
331  1.xls    (93, 13)
332  2.xls    (1681, 12)
333  3-1.xls  (69, 70)
334  3-2.xls  (69, 70)
335  3-3.xls  (69, 70)
336  1.xls    (93, 13)
337  2.xls    (1681, 12)
338  3-1.xls  (69, 70)
339  3-2.xls  (69, 70)
340  3-3.xls  (69, 70)
341  1.xls    (93, 13)
342  2.xls    (1681, 12)
343  3-1.xls  (69, 70)
344  3-2.xls  (69, 70)
345  3-3.xls  (69, 70)
346  1.xls    (93, 13)
347  2.xls    (1681, 12)
348  3-1.xls  (69, 70)
349  3-2.xls  (69, 70)
350  3-3.xls  (69, 70)
351  1.xls    (93, 13)
352  2.xls    (1681, 12)
353  3-1.xls  (69, 70)
354  3-2.xls  (69, 70)
355  3-3.xls  (69, 70)
356  1.xls    (93, 13)
357  2.xls    (1681, 12)
358  3-1.xls  (69, 70)
359  3-2.xls  (69, 70)
360  3-3.xls  (69, 70)
361  1.xls    (93, 13)
362  2.xls    (1681, 12)
363  3-1.xls  (69, 70)
364  3-2.xls  (69, 70)
365  3-3.xls  (69, 70)
366  1.xls    (93, 13)
367  2.xls    (1681, 12)
368  3-1.xls  (69, 70)
369  3-2.xls  (69, 70)
370  3-3.xls  (69, 70)
371  1.xls    (93, 13)
372  2.xls    (1681, 12)
373  3-1.xls  (69, 70)
374  3-2.xls  (69, 70)
375  3-3.xls  (69, 70)
376  1.xls    (93, 13)
377  2.xls    (1681, 12)
378  3-1.xls  (69, 70)
379  3-2.xls  (69, 70)
380  3-3.xls  (69, 70)
381  1.xls    (93, 13)
382  2.xls    (1681, 12)
383  3-1.xls  (69, 70)
384  3-2.xls  (69, 70)
385  3-3.xls  (69, 70)
386  1.xls    (93, 13)
387  2.xls    (1681, 12)
388  3-1.xls  (69, 70)
389  3-2.xls  (69, 70)
390  3-3.xls  (69, 70)
391  1.xls    (93, 13)
392  2.xls    (1681, 12)
393  3-1.xls  (69, 70)
394  3-2.xls  (69, 70)
395  3-3.xls  (69, 70)
396  1.xls    (93, 13)
397  2.xls    (1681, 12)
398  3-1.xls  (69, 70)
399  3-2.xls  (69, 70)
400  3-3.xls  (69, 70)
401  1.xls    (93, 13)
402  2.xls    (1681, 12)
403  3-1.xls  (69, 70)
404  3-2.xls  (69, 70)
405  3-3.xls  (69, 70)
406  1.xls    (93, 13)
407  2.xls    (1681, 12)
408  3-1.xls  (69, 70)
409  3-2.xls  (69, 70)
410  3-3.xls  (69, 70)
411  1.xls    (93, 13)
412  2.xls    (1681, 12)
413  3-1.xls  (69, 70)
414  3-2.xls  (69, 70)
415  3-3.xls  (69, 70)
416  1.xls    (93, 13)
417  2.xls    (1681, 12)
418  3-1.xls  (69, 70)
419  3-2.xls  (69, 70)
420  3-3.xls  (69, 70)
421  1.xls    (93, 13)
422  2.xls    (1681, 12)
423  3-1.xls  (69, 70)
424  3-2.xls  (69, 70)
425  3-3.xls  (69, 70)
426  1.xls    (93, 13)
427  2.xls    (1681, 12)
428  3-1.xls  (69, 70)
429  3-2.xls  (69, 70)
430  3-3.xls  (69, 70)
431  1.xls    (93, 13)
432  2.xls    (1681, 12)
433  3-1.xls  (69, 70)
434  3-2.xls  (69, 70)
435  3-3.xls  (69, 70)
436  1.xls    (93, 13)
437  2.xls    (1681, 12)
438  3-1.xls  (69, 70)
439  3-2.xls  (69, 70)
440  3-3.xls  (69, 70)
441  1.xls    (93, 13)
442  2.xls    (1681, 12)
443  3-1.xls  (69, 70)
444  3-2.xls  (69, 70)
445  3-3.xls  (69, 70)
446  1.xls    (93, 13)
447  2.xls    (1681, 12)
448  3-1.xls  (69, 70)
449  3-2.xls  (69, 70)
450  3-3.xls  (69, 70)
451  1.xls    (93, 13)
452  2.xls    (1681, 12)
453  3-1.xls  (69, 70)
454  3-2.xls  (69, 70)
455  3-3.xls  (69, 70)
456  1.xls    (93, 13)
457  2.xls    (1681, 12)
458  3-1.xls  (69, 70)
459  3-2.xls  (69, 70)
460  3-3.xls  (69, 70)
461  1.xls    (93, 13)
462  2.xls    (1681, 12)
463  3-1.xls  (69, 70)
464  3-2.xls  (69, 70)
465  3-3.xls  (69, 70)
466  1.xls    (93, 13)
467  2.xls    (1681, 12)
468  3-1.xls  (69, 70)
469  3-2.xls  (69, 70)
470  3-3.xls  (69, 70)
471  1.xls    (93, 13)
472  2.xls    (1681, 12)
473  3-1.xls  (69, 70)
474  3-2.xls  (69, 70)
475  3-3.xls  (69, 70)
476  1.xls    (93, 13)
477  2.xls    (1681, 12)
478  3-1.xls  (69, 70)
479  3-2.xls  (69, 70)
480  3-3.xls  (69, 70)
481  1.xls    (93, 13)
482  2.xls    (1681, 12)
483  3-1.xls  (69, 70)
484  3-2.xls  (69, 70)
485  3-3.xls  (69, 70)
486  1.xls    (93, 13)
487  2.xls    (1681, 12)
488  3-1.xls  (69, 70)
489  3-2.xls  (69, 70)
490  3-3.xls  (69, 70)
491  1.xls    (93, 13)
492  2.xls    (1681, 12)
493  3-1.xls  (69, 70)
494  3-2.xls  (69, 70)
495  3-3.xls  (69, 70)
496  1.xls    (93, 13)
497  2.xls    (1681, 12)
498  3-1.xls  (69, 70)
499  3-2.xls  (69, 70)
500  3-3.xls  (69, 70)
501  1.xls    (93, 13)
502  2.xls    (1681, 12)
503  3-1.xls  (69, 70)
504  3-2.xls  (69, 70)
505  3-3.xls  (69, 70)
506  1.xls    (93, 13)
507  2.xls    (1681, 12)
508  3-1.xls  (69, 70)
509  3-2.xls  (69, 70)
510  3-3.xls  (69, 70)
511  1.xls    (93, 13)
512  2.xls    (1681, 12)
513  3-1.xls  (69, 70)
514  3-2.xls  (69, 70)
515  3-3.xls  (69, 70)
516  1.xls    (93, 13)
517  2.xls    (1681, 12)
518  3-1.xls  (69, 70)
519  3-2.xls  (69, 70)
520  3-3.xls  (69, 70)
521  1.xls    (93, 13)
522  2.xls    (1681, 12)
523  3-1.xls  (69, 70)
524  3-2.xls  (69, 70)
525  3-3.xls  (69, 70)
526  1.xls    (93, 13)
527  2.xls    (1681, 12)
528  3-1.xls  (69, 70)
529  3-2.xls  (69, 70)
530  3-3.xls  (69, 70)
531  1.xls    (93, 13)
532  2.xls    (1681, 12)
533  3-1.xls  (69, 70)
534  3-2.xls  (69, 70)
535  3-3.xls  (69, 70)
536  1.xls    (93, 13)
537  2.xls    (1681, 12)
538  3-1.xls  (69, 70)
539  3-2.xls  (69, 70)
540  3-3.xls  (69, 70)
541  1.xls    (93, 13)
542  2.xls    (1681, 12)
543  3-1.xls  (69, 70)
544  3-2.xls  (69, 70)
545  3-3.xls  (69, 70)
546  1.xls    (93, 13)
547  2.xls    (1681, 12)
548  3-1.xls  (69, 70)
549  3-2.xls  (69, 70)
550  3-3.xls  (69, 70)
551  1.xls    (93, 13)
552  2.xls    (1681, 12)
553  3-1.xls  (69, 70)
554  3-2.xls  (69, 70)
555  3-3.xls  (69, 70)
556  1.xls    (93, 13)
557  2.xls    (1681, 12)
558  3-1.xls  (69, 70)
559  3-2.xls  (69, 70)
560  3-3.xls  (69, 70)
561  1.xls    (93, 13)
562  2.xls    (1681, 12)
563  3-1.xls  (69, 70)
564  3-2.xls  (69, 70)
565  3-3.xls  (69, 70)
566  1.xls    (93, 13)
567  2.xls    (1681, 12)
568  3-1.xls  (69, 70)
569  3-2.xls  (69, 70)
570  3-3.xls  (69, 70)
571  1.xls    (93, 13)
572  2.xls    (1681, 12)
573  3-1.xls  (69, 70)
574  3-2.xls  (69, 70)
575  3-3.xls  (69, 70)
576  1.xls    (105, 13)
577  2.xls    (1681, 12)
578  3-1.xls  (69, 70)
579  3-2.xls  (69, 70)
580  3-3.xls  (69, 70)
581  1.xls    (105, 13)
582  2.xls    (1681, 12)
583  3-1.xls  (69, 70)
584  3-2.xls  (69, 70)
585  3-3.xls  (69, 70)
586  1.xls    (105, 13)
587  2.xls    (1681, 12)
588  3-1.xls  (69, 70)
589  3-2.xls  (69, 70)
590  3-3.xls  (69, 70)
591  1.xls    (105, 13)
592  2.xls    (1681, 12)
593  3-1.xls  (69, 70)
594  3-2.xls  (69, 70)
595  3-3.xls  (69, 70)
596  1.xls    (105, 13)
597  2.xls    (1681, 12)
598  3-1.xls  (69, 70)
599  3-2.xls  (69, 70)
600  3-3.xls  (69, 70)
601  1.xls    (105, 13)
602  2.xls    (1681, 12)
603  3-1.xls  (69, 70)
604  3-2.xls  (69, 70)
605  3-3.xls  (69, 70)

In [ ]:
tableshape_df.info

In [ ]:
tableshape_agg_df = tableshape_df.groupby(['file', 'shape'])['year-month'].apply(list).reset_index()

In [ ]:
tableshape_agg_df['count'] = [len(x) for x in tableshape_agg_df['year-month']]
[x.sort for x in tableshape_agg_df['year-month']]
tableshape_agg_df.sort_values(by='year-month')
tableshape_agg_df

In [5]:
table_1_list= [x for x in filepathlist if x.split('\\')[-1] == '1.xls']
table3_1_list = [x for x in filepathlist if '3-1' in x]
table3_2_list = [x for x in filepathlist if '3-2' in x]

In [106]:
def combine_clean_1xls_tables(table_excel_list):
    table_df_list = []

    for filepath in table_excel_list:
        filepath_parts = filepath.split('\\')
        year = filepath_parts[2]
        month = filepath_parts[3][:2]

        sheets = pd.ExcelFile(filepath).sheet_names
        df = pd.read_excel(filepath, sheet_name=len(sheets)-1)

        messy_df = df.copy()
        messy_df.reset_index(inplace=True)
        
        cornerstone = ''
        cornerstone_col_idx = [messy_df.columns.get_loc(x) for x in messy_df.columns if cornerstone in messy_df[x].values][0]
        cornerstone_col = messy_df.iloc[:,cornerstone_col_idx]
        cornerstone_row_idx = int(cornerstone_col.index[cornerstone_col == cornerstone][0])
        messy_df = messy_df.iloc[:,cornerstone_col_idx:cornerstone_col_idx+6]

        messy_df.columns = ['Prefecture Num', 'Prefecture', 'Prefecture_English', 'Both', 'Male', 'Female']
        messy_df.dropna(axis=0, subset=['Prefecture Num', 'Both', 'Male', 'Female'], how='any', inplace=True)
        #using the fact that np.nan != np.nan
        messy_df['Prefecture'] = messy_df.apply(lambda x: x['Prefecture Num'] if x['Prefecture']!=x['Prefecture'] else x['Prefecture'], axis=1)
        messy_df['Prefecture Num'] = messy_df.apply(lambda x: '00' if x['Prefecture Num']=='' else x['Prefecture Num'], axis=1)
        messy_df['Prefecture Num'] = messy_df.apply(lambda x: '00 000' if '' in x['Prefecture Num'] else x['Prefecture Num'], axis=1)
        messy_df['Year'] = str(year)
        messy_df['Month'] = str(month)
        messy_df['Age bucket'] = 'Total'

        messy_df = messy_df.reindex(columns=['Prefecture Num', 'Prefecture', 'Prefecture_English' 'Gender', 'Year', 'Month', 'Age bucket', 'Both', 'Male', 'Female'])
        
        if False not in messy_df.iloc[:,7:10].applymap(np.isreal).values.flatten():
            table_df_list.append(messy_df)
        else:
            print('Some non-numeric value found in internal migration counts.')
            print(messy_df.iloc[:,7:10].head(5))

    combined_df = pd.concat(table_df_list).reset_index(drop=True)
    return combined_df

In [10]:
def combine_clean_3xls_tables(table_excel_list):
    #Always take the last sheet: assume that in the absense of separate sheets, the numbers are for Japanese citizens only
    table_df_list = []

    for filepath in table_excel_list:
        filepath_parts = filepath.split('\\')
        year = filepath_parts[2]
        month = filepath_parts[3][:2]

        sheets = pd.ExcelFile(filepath).sheet_names
        df = pd.read_excel(filepath, sheet_name=len(sheets)-1)

        messy_df = df.copy()
        messy_df.reset_index(inplace=True)
        messy_df.columns = [x.replace('', '-') for x in messy_df.iloc[13].replace({
                                                    'Prefectures': 'Prefecture Num',
                                                    '  1)': 'Total',
                                                    '04': '04',
                                                    '90': '90 & above'
                                                    }).fillna('Prefecture')]
        messy_df.iloc[18,10] = messy_df.iloc[18,8]
        messy_df = messy_df.iloc[18:66,8:]
        messy_df.reset_index(drop=True, inplace=True)
        messy_df.dropna(axis=1, inplace=True)
        messy_df.loc[0,'Prefecture Num'] = '00'

        both_df = messy_df.iloc[:,:22]
        male_df = messy_df.iloc[:,22:44]
        female_df = messy_df.iloc[:,44:66]

        both_df['Gender'] = 'Both'
        male_df['Gender'] = 'Male'
        female_df['Gender'] = 'Female'

        this_month_df = pd.concat([both_df, male_df, female_df])
        this_month_df['Year'] = str(year)
        this_month_df['Month'] = str(month)

        if False not in this_month_df.iloc[:,2:22].applymap(np.isreal).values.flatten():
            table_df_list.append(this_month_df)
        else:
            print('Some non-numeric value found in in/out migration counts.')
    
    combined_df = pd.concat(table_df_list).reset_index(drop=True)
    return combined_df

In [20]:
%%time
in_migrants_age_df = combine_clean_3xls_tables(table3_1_list)
out_migrants_age_df = combine_clean_3xls_tables(table3_2_list)

C:\Users\friedemann.ang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\friedemann.ang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\friedemann.ang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Wall time: 23.9 s

In [107]:
internal_migrants_df = combine_clean_1xls_tables(table_1_list)

C:\Users\friedemann.ang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:16: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  app.launch_new_instance()

In [108]:
internal_migrants_df.head()

,Prefecture Num,Prefecture,Prefecture_EnglishGender,Year,Month,Age bucket,Both,Male,Female
0,00,,NaN,2006,01,Total,179279,91650,87629
1,01,,NaN,2006,01,Total,10679,5380,5299
2,02,,NaN,2006,01,Total,1074,500,574
3,03,,NaN,2006,01,Total,1219,610,609
4,04,,NaN,2006,01,Total,3588,1778,1810

In [109]:
out_migrants_age_df.head(20)

,Prefecture Num,Prefecture,Total,0-4,5-9,10-14,15-19,20-24,25-29,30-34,35-39,40-44,45-49,50-54,55-59,60-64,65-69,70-74,75-79,80-84,85-89,90 & above,Gender,Year,Month
0,00,,126018,7924,3182,1637,3610,20043,26958,20002,13587,7826,4881,3811,3580,3247,1722,1098,946,864,711,387,Both,2010,01
1,01,,2561,136,77,45,103,473,441,365,296,186,112,99,98,47,27,18,11,13,9,5,Both,2010,01
2,02,,1119,66,38,30,34,277,186,152,103,51,47,39,37,22,9,9,4,5,8,2,Both,2010,01
3,03,,992,74,31,10,37,201,167,155,83,50,59,39,31,23,11,5,6,5,2,3,Both,2010,01
4,04,,2085,160,59,28,66,372,422,298,242,123,88,74,54,38,17,11,13,9,8,3,Both,2010,01
5,05,,753,50,24,11,25,176,121,98,71,39,27,23,25,17,14,4,10,11,3,4,Both,2010,01
6,06,,736,43,27,11,35,165,139,99,70,32,22,27,17,21,9,7,3,1,6,2,Both,2010,01
7,07,,1386,87,25,17,48,336,253,186,128,87,57,44,32,23,12,12,7,16,11,5,Both,2010,01
8,08,,2564,177,78,39,74,409,518,419,289,141,90,73,76,62,29,31,17,13,16,13,Both,2010,01
9,09,,1686,102,45,32,49,304,355,226,166,120,60,56,51,49,26,14,12,11,5,3,Both,2010,01
10,10,,1509,95,36,23,36,244,308,234,164,105,66,59,44,40,13,14,7,7,8,6,Both,2010,01
11,11,,8657,523,208,130,201,1221,1954,1429,1012,501,335,272,265,248,123,72,57,44,45,17,Both,2010,01
12,12,,7771,485,191,101,181,1087,1783,1384,866,447,260,215,213,231,129,51,46,43,41,17,Both,2010,01
13,13,,21182,1122,371,169,374,2875,5003,3727,2370,1430,813,643,582,618,344,238,166,168,97,72,Both,2010,01
14,14,,11664,715,267,133,238,1554,2658,2044,1319,764,473,302,349,328,192,109,81,68,50,20,Both,2010,01
15,15,,1293,68,33,15,47,306,261,181,129,79,46,31,36,19,8,4,9,12,4,5,Both,2010,01
16,16,,674,33,23,10,21,129,115,102,64,56,33,27,21,16,4,6,6,5,2,1,Both,2010,01
17,17,,881,66,31,14,44,145,174,136,83,60,35,32,25,16,7,3,5,2,3,0,Both,2010,01
18,18,,520,35,21,5,18,99,92,65,63,36,20,19,11,10,6,5,6,4,2,3,Both,2010,01
19,19,,814,40,20,18,76,180,157,99,69,36,25,26,13,18,10,5,6,10,1,5,Both,2010,01

In [110]:
keys = ['Total', '0-4', '5-9', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40-44', '45-49', '50-54', '55-59', '60-64', '65-69', '70-74', '75-79', '80-84', '85-89', '90 & above']
in_melted_df = pd.melt(in_migrants_age_df, id_vars=['Prefecture Num', 'Prefecture', 'Gender', 'Year', 'Month'], value_name='Inmigrants', var_name='Age bucket')
out_melted_df = pd.melt(out_migrants_age_df, id_vars=['Prefecture Num', 'Prefecture', 'Gender', 'Year', 'Month'], value_name='Outmigrants', var_name='Age bucket')

In [111]:
combined_melted_df = pd.merge(in_melted_df, out_melted_df, how='left',
                              left_on=list(in_melted_df.columns).remove('Inmigrants'), 
                              right_on=list(out_melted_df.columns).remove('Outmigrants'))

In [112]:
out_melted_df.shape[0] == combined_melted_df.shape[0]

True

In [113]:
combined_melted_df.head(20)

,Prefecture Num,Prefecture,Gender,Year,Month,Age bucket,Inmigrants,Outmigrants
0,00,,Both,2010,01,Total,126018,126018
1,01,,Both,2010,01,Total,2288,2561
2,02,,Both,2010,01,Total,954,1119
3,03,,Both,2010,01,Total,866,992
4,04,,Both,2010,01,Total,2229,2085
5,05,,Both,2010,01,Total,666,753
6,06,,Both,2010,01,Total,646,736
7,07,,Both,2010,01,Total,1318,1386
8,08,,Both,2010,01,Total,2582,2564
9,09,,Both,2010,01,Total,1949,1686
10,10,,Both,2010,01,Total,1513,1509
11,11,,Both,2010,01,Total,9053,8657
12,12,,Both,2010,01,Total,8266,7771
13,13,,Both,2010,01,Total,22125,21182
14,14,,Both,2010,01,Total,11362,11664
15,15,,Both,2010,01,Total,1111,1293
16,16,,Both,2010,01,Total,688,674
17,17,,Both,2010,01,Total,815,881
18,18,,Both,2010,01,Total,477,520
19,19,,Both,2010,01,Total,757,814

In [ ]:
def dataframe_to_postgres(df, tablename):
    cur = conn.cursor()
    textstream = io.StringIO()
    upload_df = df.copy()
    #upload_df['excel_description'].replace(['\n', '\t'], '', regex=True, inplace=True)

    upload_df.to_csv(textstream, sep='\t', header=False, index=False, quoting=csv.QUOTE_NONE)
    textstream.seek(0) 
    cur.copy_from(textstream, tablename, null="") # null values become ''
    conn.commit()

In [ ]:
#dataframe_to_postgres(in_migrants_age_df, 'jpstat_inmigrants')
dataframe_to_postgres(out_migrants_age_df, 'jpstat_outmigrants')

In [ ]:
#write using pyarrow with flavor=spark so that the files are compatible (datatypes)

In [ ]:
list_a = ['a', 'test', 'china', '2.xls']
list_a[-1]